@model FinalProject.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var user = ViewBag.User as Entities.Models.User;
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>Đổi mật khẩu</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 order-md-1">
            <div class="profiles">
                <p class="image">
                    @if (user is null)
                    {
                        <img src="~/images/user/avatar.png" height="50" width="50" alt="Avatar">
                    }
                    else
                    {
                        string email = user.Email.Replace('+', 'a');

                        <img src="~/images/user/@email/@user.Image" height="50" width="50" alt="Avatar">
                    }
                </p>
                <p class="name">Tài khoản của</p>
                <h6>@user.FullName</h6>
            </div>
            <div class="menu-user">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="Information" asp-controller="Account">Thông tin tài khoản</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="Information" asp-controller="Account">Đổi mật khẩu</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="Notifications" asp-controller="Home">Thông báo</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a href="#">Sản phẩm đã thích</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="Orders" asp-controller="Order" asp-route-userId="@user.Id">Đơn hàng đã mua</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 order-md-2">
            @if (!(ViewBag.MessageSuccess is null))
            {
                <div class="alert alert-success">@ViewBag.MessageSuccess</div>
            }
            @if (!(ViewBag.MessageDanger is null))
            {
                <div class="alert alert-danger">@ViewBag.MessageDanger</div>
            }
        <form class="needs-validation was-validated" enctype="multipart/form-data"
              asp-controller="Account" asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <h1 class="h3 mb-2 text-gray-800">Thay đổi mật khẩu</h1>
            <div class="col-6 form-group">
                <label asp-for="CurrentPass">Mật khẩu hiện tại</label>
                <input class="form-control" id="currentPass" asp-for="CurrentPass" type="password" />
                <span class="text-danger" asp-validation-for="CurrentPass"></span>
            </div>
            <div class="col-6 form-group">
                <label asp-for="NewPass">Mật khẩu mới</label>
                <input class="form-control" id="NewPass" asp-for="NewPass" type="password" />
                <span class="text-danger" asp-validation-for="NewPass"></span>

            </div>
            <div class="col-6 form-group">
                <label for="ConfirmedPass">Mật khẩu hiện tại</label>
                <input class="form-control" id="ConfirmedPass" asp-for="ConfirmedPass" type="password" />
                <span class="text-danger" asp-validation-for="ConfirmedPass"></span>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" value="Thay đổi" />
            </div>
        </form>
        </div>
    </div>
</div>
@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('#left-nav').remove();
            $('#banner').remove();
        });
    </script>
}