@model FinalProject.ViewModels.InformationClientViewModel
@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var provinces = ViewBag.Provinces as IList<Entities.Models.Province>;

    var districts = ViewBag.Districts as IList<Entities.Models.District>;

    var wards = ViewBag.Wards as IList<Entities.Models.Ward>;
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>Thông tin tài khoản</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 order-md-1">
            <div class="profiles">
                <p class="image">
                    @if (Model.ImageLink is null)
                    {
                        <img src="~/images/user/avatar.png" height="50" width="50" alt="Avatar">
                    }
                    else
                    {
                        string email = Model.Email.Replace('+', 'a');

                        <img src="~/images/user/@email/@Model.ImageLink" height="50" width="50" alt="Avatar">
                    }
                </p>
                <p class="name">Tài khoản của</p>
                <h6>@Model.FullName</h6>
            </div>
            <div class="menu-user">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="Information" asp-controller="Account">Thông tin tài khoản</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="ChangePassword" asp-controller="Account">Đổi mật khẩu</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a href="#">Thông báo</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a href="#">Sản phẩm đã thích</a>
                    </li>
                    <li class="list-group-item list-group-item-action">
                        <a asp-action="Orders" asp-controller="Order" asp-route-userId="@Model.UserId">Đơn hàng đã mua</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 order-md-2">
            <h4 class="mb-3">Thông tin cá nhân</h4>
            @if (!(ViewBag.MessageSuccess is null))
            {
                <div class="alert alert-success">@ViewBag.MessageSuccess</div>
            }
            @if (!(ViewBag.MessageDanger is null))
            {
                <div class="alert alert-danger">@ViewBag.MessageDanger</div>
            }
            <form class="needs-validation was-validated" enctype="multipart/form-data" 
                  asp-controller="Account" asp-action="Information" method="post">
                @Html.AntiForgeryToken()
                <input type="hidden" name="UserId" value="@Model.UserId" />
                <input type="hidden" name="ImageLink" value="@Model.ImageLink" />
                <div class="form-group">
                    <div class="mb-3">
                        <label for="Fullname">Họ tên</label>
                        <input type="text" class="form-control" placeholder="Họ tên" value="@Model.FullName" name="FullName">
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="gender">
                        <label for="gender">Giới tính</label>
                    </div>
                    @if (Model.Gender.Equals("Nam"))
                    {
                        <label class="radio-inline"><input type="radio" name="Gender" value="Nam" checked>Nam</label>
                        <label class="radio-inline"><input type="radio" name="Gender" value="Nữ">Nữ</label>
                    }
                    else
                    {
                        <label class="radio-inline"><input type="radio" name="Gender" value="Nam">Nam</label>
                        <label class="radio-inline"><input type="radio" name="Gender" value="Nữ" checked>Nữ</label>
                    }
                    <span class="text-danger" asp-validation-for="Gender"></span>
                </div>

                <div class="form-group">
                    <label for="dateofbirth">Ngày sinh</label>
                    <input type="date" class="form-control form-control-user" name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" />
                    <span class="text-danger" asp-validation-for="DateOfBirth"></span>
                </div>

                <div class="form-group">
                    <div class="mb-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="Email" placeholder="you@example.com" value="@Model.Email" readonly>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="mb-3">
                        <label for="phone-number">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone-number" name="PhoneNumber" value="@Model.PhoneNumber">
                        <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="address">Địa chỉ</label>
                    <div class="col-sm-12 row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                            <select class="selectpicker show-tick form-control" name="ProvinceId"
                                    onchange="getDistricts()" id="province" data-live-search="true">
                                <option value="null">Tỉnh/Thành phố</option>
                                @if (!(provinces is null))
                                {
                                    @if (!(provinces is null))
                                    {
                                        foreach (var item in provinces)
                                        {
                                            if (item.ProvinceId == Model.ProvinceId)
                                            {
                                                <option value="@item.ProvinceId" selected>@item.ProvinceName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.ProvinceId">@item.ProvinceName</option>
                                            }
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-3" id="district">
                            <select class="selectpicker show-tick form-control"
                                    name="DistrictId"
                                    id="district-id" onchange="getWards()"
                                    data-live-search="true">
                                <option value="null">Quận/Huyện</option>
                                @if (!(districts is null))
                                {
                                    @foreach (var item in districts)
                                    {
                                        if (item.DistrictId == Model.DistrictId)
                                        {
                                            <option value="@item.DistrictId" selected>@item.DistrictName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.DistrictId">@item.DistrictName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-3" id="ward">
                            <select name="WardCode" id="ward-id"
                                    class="selectpicker show-tick form-control" data-live-search="true" onchange="clearStreetName()">
                                <option value="null">Phường/Xã</option>
                                @if (!(wards is null))
                                {
                                    @foreach (var item in wards)
                                    {
                                        if (item.WardCode.Equals(Model.WardCode))
                                        {
                                            <option value="@item.WardCode" selected>@item.WardName</option>
                                        }
                                        else
                                        {
                                            <option value="@item.WardCode">@item.WardName</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-3" id="street-name">
                            <input type="text" class="form-control" placeholder="Tên đường/thôn/khu phố" name="StreetName" value="@Model.StreetName">
                        </div>
                        <span class="text-danger" asp-validation-for="StreetName"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="mb-3">
                        <label for="image">Ảnh đại diện</label>
                        <input type="file" value="Tải ảnh lên" name="Image">
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary" type="submit">Cập nhật</button>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/admin/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/user/user-information.js"></script>
}