@{
    ViewData["Title"] = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cartItems = ViewBag.CartItems as IList<Entities.Models.CartItem>;

    decimal cartTotal = 0;

    cartTotal = (decimal)ViewBag.CartTotal;
}
<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>Xem giỏ hàng</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="box-content">
    <div class="position-02">
        <div class="container-fluid">
            <div class="row">
                <div class="">
                    <h1>Thông tin giỏ hàng</h1>
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Phân loại hàng</th>
                                    <th>Xuất xứ</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                    <th>Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in cartItems)
                                {
                                    <tr>
                                        <td><a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductDetail.Product.ProductId">
                                                <span>@item.ProductDetail.Product.ProductName</span>
                                            </a></td>
                                        <td>
                                            @if (item.ProductDetail.Product.ProductImages is null || item.ProductDetail.Product.ProductImages.FirstOrDefault() is null)
                                            {
                                                <img src="~/images/product/img_1.jpg" alt="Ảnh" width="60" height="60">
                                            }
                                            else
                                            {
                                                <img src="~/images/product/@item.ProductDetail.Product.ProductImages.FirstOrDefault().Image" alt="Ảnh" width="60" height="60">
                                            }
                                        </td>
                                        <td>@item.ProductDetail.Color</td>
                                        <td>@item.ProductDetail.Origin</td>
                                        <td>
                                            @if (item.IsStocking)
                                            {
                                                <button class="btn btn-danger" style="height: 30px;" type="button" onclick="decrease(this, @item.ProductDetailId, @item.ProductDetail.Quantity, @item.Price)">
                                                    -
                                                </button>
                                                <input type="text" name="Quantity" min="1" value="@item.Quantity" max="@item.ProductDetail.Quantity"
                                                       class="input-quantity" onkeydown="validateValue(this)" onblur="checkValue()" onchange="setPrice(this, @item.ProductDetailId, @item.ProductDetail.Quantity, @item.Price)">
                                                <button class="btn btn-danger" style="height: 30px" type="button" onclick="ascending(this, @item.ProductDetailId, @item.ProductDetail.Quantity, @item.Price)">
                                                    +
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-danger disabled" style="height: 30px;" type="button">
                                                    -
                                                </button>
                                                <input type="text" name="Quantity" min="1" value="@item.Quantity" max="@item.ProductDetail.Quantity"
                                                       class="input-quantity disabled">
                                                <button class="btn btn-danger disabled" style="height: 30px" type="button">
                                                    +
                                                </button>
                                            }
                                        </td>
                                        <td>@String.Format("{0:n0}", item.Price) VNĐ</td>
                                        <td class="total-item">
                                            @{
                                                var totalItem = item.Price * item.Quantity;
                                            }
                                            @String.Format("{0:n0}", totalItem) VNĐ
                                        </td>
                                        <td><button class="btn btn-danger" type="button" onclick="removeCartItem(this, @item.ProductDetailId, '@item.Price.ToString("G29")', @item.Quantity)"> - </button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-8"></div>
                        <div class="col-lg-4" style="text-align: end;">
                            @*<div><b>Tổng tiền gốc: </b><span id="totalOld">15000</span> VNĐ</div>
                            <div><b>Tổng tiền khuyến mãi: </b><span id="totalSale">15000</span> VNĐ</div>*@
                            <div><b>Tổng tiền thanh toán: </b><span id="total">@String.Format("{0:n0}", cartTotal)</span> VNĐ</div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-6 text-left">
                            <a asp-action="Index" asp-controller="Home" class="btn btn-warning">Tiếp tục mua sắm</a>
                        </div>
                        <div class="col-lg-6 text-right">
                            <a  asp-action="Order" asp-controller="Order" class="btn btn-success">Đặt hàng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/customer/cart/quantity-in-cart.js"></script>
    <script src="~/js/notify/notify-helper.js"></script>
    <script src="~/js/loading/loading.js"></script>
    <script src="~/customer/cart/checkout.js"></script>
}