@using static Common.Constant
@using static Common.RoleConstant
@{
    ViewData["Title"] = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var order = ViewBag.Order as Entities.Models.Order;
    string address = "";

    if (!(order is null))
    {
        address = order.User.StreetName + " - " + order.User.Ward.WardName + " - "
            + order.User.Ward.District.DistrictName + " - " + order.User.Ward.District.Province.ProvinceName;
    }
}

<style>
    .scroll {
        position: fixed;
        bottom: 1rem;
        right: 5%;
        color: white;
        border-radius: 4px;
    }
</style>
<div class="container-fluid">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow mb-4" style="height: 95%;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin khách hàng</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-6" style="display: flex; flex-direction: column;
                                            justify-content: center;">
                                <h6><b>Họ tên:</b> <span>@order.User.FullName</span></h6>
                                <h6>
                                    <b>Địa chỉ:</b> <span>@address</span>
                                </h6>
                                <h6><b>Email:</b> <span>@order.User.Email</span></h6>
                                <h6><b>Số điện thoại:</b> <span>@order.User.PhoneNumber</span></h6>
                            </div>
                            <div class="col-lg-6">
                                @if (order.User.Image is null)
                                {
                                    <img class="btn-circle btn-lg" src="~/images/user/avatar.png"
                                         alt="Avatar" style="width: 100%; height: 100%;">
                                }
                                else
                                {
                                    <img class="btn-circle btn-lg" src="~/images/user/@order.User.Email/@order.User.Image"
                                         alt="Avatar" style="width: 100%; height: 100%;">
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow mb-4" style="height: 95%;">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Thông tin đơn hàng</h6>
                    </div>
                    <div class="card-body">
                        <div class="col-lg-12" style="display: flex; flex-direction: column; justify-content: center;">
                            <h6><b>Mã đơn hàng:</b> <span>@order.OrderId</span></h6>
                            <h6><b>Ngày đặt:</b> <span>@order.OrderDate.ToShortDateString()</span></h6>
                            <h6>
                                <b>Địa chỉ giao hàng:</b> <span>@order.Address</span>
                            </h6>
                            <h6><b>Trạng thái:</b> <span>@order.Status</span></h6>
                            <h6><b>Tổng tiền:</b> <span>@order.Total.ToString("G29") VNĐ</span></h6>
                            <h6><b>Phương thức thanh toán:</b> <span>@order.PaymentMethod</span></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
               role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h6 class="m-0 font-weight-bold text-primary">Chi tiết đơn hàng</h6>
            </a>
            <div class="collapse show" id="collapseCardExample">
                <div class="card-body"
                    <div class="table-responsive">
                        <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Hình ảnh</th>
                                    <th>Phân loại hàng</th>
                                    <th>Xuất xứ</th>
                                    <th>Số lượng</th>
                                    <th>Đơn giá</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (!(order is null))
                                {
                                    foreach (var item in order.OrderDetails)
                                    {
                                        <tr>
                                            <td>@item.ProductDetail.Product.ProductName</td>
                                            <td>
                                                @if (item.ProductDetail.Product.ProductImages is null || item.ProductDetail.Product.ProductImages.FirstOrDefault() is null)
                                                {
                                                    <img src="~/images/product/img_1.jpg" alt="Ảnh" width="60" height="60">
                                                }
                                                else
                                                {
                                                    <img src="~/images/product/@item.ProductDetail.Product.ProductImages.FirstOrDefault().Image" alt="Ảnh" width="60" height="60">
                                                }
                                            </td>
                                            <td>@item.ProductDetail.Color</td>
                                            <td>@item.ProductDetail.Origin</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.Price</td>
                                            <td>
                                                @{
                                                    var total = item.Quantity * item.Price;
                                                }
                                                @total
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="row">
            <div class="rounded scroll">
                @switch (order.Status)
                {
                    case STATUS_WAITING_CONFIRM:
                        if (User.IsInRole(ROLE_ADMIN))
                        {
                            <button class="btn btn-success btn-sm" onclick="adminConfirm(@order.OrderId)">Admin xác nhận</button>
                            <button class="btn btn-danger btn-sm">Hủy đơn hàng</button>
                        }
                        break;
                }
                <a class="btn btn-success btn-sm" asp-action="OrderHistory" asp-controller="Order"
                   asp-area="Admin" asp-route-orderId="@order.OrderId">Xem lịch sử</a>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script src="~/js/notify/notify-helper.js"></script>
    <script>
        function adminConfirm(orderId) {
            if (orderId === '') {
                showError("Không tồn tại đơn hàng này");
            }
            else
            Swal.fire({
                title: 'Xác nhận đơn hàng!',
                text: "Bạn đồng ý giao đơn hàng này ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: `Đồng ý`,
                cancelButtonText: `Hủy`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Order/AdminComfirmOrder',
                        method: 'PUT',
                        async: true,
                        data: { orderId: orderId },
                        success: function (data) {
                            switch (data) {
                                case 1:
                                    window.location.reload();
                                    break;
                                case -4:
                                    showError('Lỗi không tìm thấy đơn hàng này');
                                    break;
                                case -99:
                                    showErrorSystem();
                                    break;
                            }
                        },
                        error: function (code, err) {

                        }
                    });
                }
            })
        }
    </script>
}