@model FinalProject.Areas.Admin.ViewModels.SaleViewModel
@using static Common.Constant
@{
    ViewData["Title"] = "Thêm khuyến mại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var saleType = new List<string>();
    saleType.Add(TYPE_SALE_FOR_PRODUCT);
    saleType.Add(TYPE_SALE_FOR_ORDER);

    var products = ViewBag.Products as IList<Entities.Models.Product>;
}
@section Links{
    <style>
        .hidden {
            display: none;
        }
    </style>
}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Thêm khuyến mại</h1>
    <hr class="hr-end-list" />

    @if (!(ViewBag.MessageSuccess is null))
    {
        <div class="alert alert-success">@ViewBag.MessageSuccess</div>
    }
    @if (!(ViewBag.MessageError is null))
    {
        <div class="alert alert-danger">@ViewBag.MessageError</div>
    }

    <form asp-action="AddSale" asp-controller="Sale" asp-area="Admin" method="post" role="form" enctype="multipart/form-data"
          id="form">

        @Html.AntiForgeryToken()
        <input type="hidden" name="imagePreviewDeteted" id="image-preview-deleted" />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="SaleName"></label>
                    <input type="text" asp-for="SaleName" class="form-control" id="sale-name" />
                    <span class="text-danger" asp-validation-for="SaleName"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="SaleType"></label>
                    <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; align-items: center">
                        <div class="block">
                            Khuyến mại cho sản phẩm <input type="radio" asp-for="SaleType" value="@TYPE_SALE_FOR_PRODUCT" onclick="ShowProduct()" checked />
                        </div>
                        <div class="block">
                            Khuyến mại cho đơn hàng <input type="radio" asp-for="SaleType" value="@TYPE_SALE_FOR_ORDER" onclick="ShowOrder()" />
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="SaleType"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="SaleStartDate"></label>
                    <div class="input-wrapper">
                        <input type="text" id="start-date" asp-for="SaleStartDate" class="form-field-input form-field-input-coupled" readonly />
                        <button id="start-date-button" type="button" class="btn btn-small">
                            <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                 data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                            </svg>
                        </button>
                    </div>
                    <span class="text-danger" asp-validation-for="SaleStartDate"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="SaleEndDate"></label>
                    <div class="input-wrapper">
                        <input type="text" id="end-date" asp-for="SaleEndDate" class="form-field-input form-field-input-coupled" readonly />
                        <button id="end-date-button" type="button" class="btn btn-small">
                            <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                 data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                            </svg>
                        </button>
                    </div>
                    <span class="text-danger" asp-validation-for="SaleEndDate"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <div class="col-lg-6">
                <label asp-for="Discount"></label>
                <input type="number" min="0" max="100" asp-for="Discount" class="form-control" placeholder="%" />
                <span class="text-danger" asp-validation-for="Discount"></span>
            </div>
        </div>

        <div class="form-group form-flex" style="text-align: center;" id="show-image-preview">

        </div>

        <div class="form-group">
            <label asp-for="ImageFile"></label>
            <input type="file" class="form-control-file" accept="image/*" asp-for="ImageFile" onchange="previewImage(event)" id="images-file" />
            <span class="text-danger" asp-validation-for="ImageFile"></span>
        </div>

        <div class="form-group hidden" id="from-order-price">
            <label>Giá trị đơn hàng từ</label>
            <input type="number" class="form-control" asp-for="FromOrderPrice" />
            <span class="text-danger" asp-validation-for="FromOrderPrice"></span>
        </div>

        <div class="form-group" id="table-product">
            <label>Danh sách sản phẩm</label>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Giá bán</th>
                            <th>Chọn</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (!(products is null))
                        {
                            foreach (var item in products)
                            {
                                <tr>
                                    <td>@item.ProductName</td>
                                    <td>@item.Price</td>
                                    <td><input type="checkbox" name="ProductIds" value="@item.ProductId" /></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <span class="text-danger" asp-validation-for="ProductIds"></span>
        </div>
    </form>

    <div class="form-group">
        <input type="button" value="Thêm khuyến mại" class="btn btn-success" onclick="submit()" />
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/calendar/mc-calendar.min.js"></script>
    <script type="text/javascript" src="~/js/calendar/calendar-helper.js"></script>
    <script>
        var files = [];
        //var chooseDelivery = [];

        //function chooseOrder(e, rowVersion) {
        //    var dom = $(e);

        //    if (dom[0].checked) {
        //        chooseDelivery.push(dom.val());
        //    }
        //    else {
        //        chooseDelivery.splice(chooseDelivery.indexOf(dom.val()), 1);
        //    }

        //    console.log(chooseDelivery)
        //}

        function ShowProduct() {
            $("#table-product").removeClass("hidden");
            $("#from-order-price").addClass("hidden");
        }

        function ShowOrder() {
            $("#from-order-price").removeClass("hidden");
            $("#table-product").addClass("hidden");
        }

        function previewImage(e) {
            var node = '';

            var imageFiles = e.target.files;

            if (imageFiles.length > 0) {
                files.push(imageFiles[0].name);
                node += `<div class="show-image">
                                        <img src="`+ URL.createObjectURL(imageFiles[0]) + `" class="image-product" width="200" height="200" />
                                        <i class="delete fa fa-times" onclick="confirmDeleteImage(this)">
                                        </i>
                                    </div>`;

                $('#show-image-preview').children().remove();
                $('#show-image-preview').append(node);
                $('#image-preview-deleted').val('');
            }
        }

        function confirmDeleteImage(e) {
            Swal.fire({
                title: 'Xóa hình ảnh!',
                text: "Bạn có muốn xóa hình ảnh này ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: `Xóa`,
                cancelButtonText: `Hủy`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $(e).closest('.show-image').remove();

                    $('#image-preview-deleted').val(files);

                    files = [];
                }
            })
        }

        function getDateTimeNow() {
            var dateObj = new Date();
            var month = dateObj.getUTCMonth() + 1;
            var day = dateObj.getUTCDate();
            var year = dateObj.getUTCFullYear
            newdate = day + "/" + month + "/" + year;

            return newdate;
        }

        function submit() {
            var startDate = new Date($("#start-date").val());
            var endDate = new Date($("#end-date").val());

            var today = new Date(getDateTimeNow());

            if (today.get > startDate.getTime()) {
                Swal.fire({
                    title: 'Thông báo',
                    text: "Ngày bắt đầu phải lớn hơn hoặc bằng ngày hiện tại",
                    icon: 'info',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: `Ok`,
                });
            }
            else if (startDate.getTime() > endDate.getTime()) {
                Swal.fire({
                    title: 'Thông báo',
                    text: "Ngày bắt đầu phải nhỏ hơn hoặc bằng ngày kết thúc",
                    icon: 'info',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: `Ok`,
                });

            }
            else {
                $('#form').submit();
            }
        }
    </script>
}