@model FinalProject.Areas.Admin.ViewModels.SaleViewModel
@using static Common.Constant
@{
    ViewData["Title"] = "Sửa khuyến mại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var products = ViewBag.Products as IList<Entities.Models.Product>;
    var productInSales = ViewBag.ProductInSales as IList<Entities.Models.Product>;
}

@section Links{
    <style>
        .hidden {
            display: none;
        }
    </style>
}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Cập nhật khuyến mại</h1>
    <hr class="hr-end-list" />

    @if (!(ViewBag.MessageSuccess is null))
    {
        <div class="alert alert-success">@ViewBag.MessageSuccess</div>
    }
    @if (!(TempData["MessageSuccess"] is null))
    {
        <div class="alert alert-success">@TempData["MessageSuccess"]</div>
    }
    @if (!(ViewBag.MessageError is null))
    {
        <div class="alert alert-danger">@ViewBag.MessageError</div>
    }

    <form asp-action="EditSale" asp-controller="Sale" asp-area="Admin" method="post" role="form" enctype="multipart/form-data"
          id="form">

        @Html.AntiForgeryToken()
        <input type="hidden" name="imagePreviewDeteted" id="image-preview-deleted" />
        <input type="hidden" asp-for="SaleId" />
        <input type="hidden" asp-for="SaleType" />
        <input type="hidden" asp-for="Image" />

        <div class="form-group">
            <label asp-for="SaleName"></label>
            <input type="text" asp-for="SaleName" class="form-control" id="sale-name" />
            <span class="text-danger" asp-validation-for="SaleName"></span>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label asp-for="SaleStartDate"></label>
                    <div class="input-wrapper">
                        <input type="text" id="start-date" asp-for="SaleStartDate" value="@Model.SaleStartDate.ToString("MM-dd-yyyy")" class="form-field-input form-field-input-coupled" readonly />
                        <button id="start-date-button" type="button" class="btn btn-small">
                            <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                 data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                            </svg>
                        </button>
                    </div>
                    <span class="text-danger" asp-validation-for="SaleStartDate"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label asp-for="SaleEndDate"></label>
                    <div class="input-wrapper">
                        <input type="text" id="end-date" asp-for="SaleEndDate" value="@Model.SaleEndDate.ToString("MM-dd-yyyy")" class="form-field-input form-field-input-coupled" readonly />
                        <button id="end-date-button" type="button" class="btn btn-small">
                            <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                 data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                <path fill="currentColor"
                                      d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                            </svg>
                        </button>
                    </div>
                    <span class="text-danger" asp-validation-for="SaleEndDate"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>

        <div class="form-group">
            <div class="col-lg-6">
                <label asp-for="Discount"></label>
                <input type="number" min="0" max="100" asp-for="Discount" class="form-control" placeholder="%" />
                <span class="text-danger" asp-validation-for="Discount"></span>
            </div>
        </div>

        <span>Hình ảnh</span>
        @if (!(Model.Image is null))
        {
            <div class="form-group form-flex" style="text-align: center;">
                <div class="show-image">
                    <img src="~/images/sale/@Model.Image" class="image-product" width="200" height="200" />
                    <i class="delete fa fa-times" onclick="confirmDeleteImageOld(this)">
                    </i>
                </div>
            </div>
        }

        <div class="form-group form-flex" style="text-align: center;" id="show-image-preview">

        </div>

        <div class="form-group">
            <label asp-for="ImageFile"></label>
            <input type="file" class="form-control-file" accept="image/*" asp-for="ImageFile" onchange="previewImage(event)" id="images-file" />
            <span class="text-danger" asp-validation-for="ImageFile"></span>
        </div>

        @if (Model.SaleType.Equals(TYPE_SALE_FOR_PRODUCT))
        {
            <div class="form-group" id="table-product">
                <label>Danh sách sản phẩm</label>
                <div class="table-responsive">
                    <table class="table table-bordered" id="tableSale" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Tên sản phẩm</th>
                                <th>Giá bán</th>
                                <th>Chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (!(productInSales is null))
                            {
                                foreach (var item in productInSales)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@item.Price</td>
                                        <td><input type="checkbox" name="ProductIds" value="@item.ProductId" checked /></td>
                                    </tr>
                                }
                            }
                            @if (!(products is null))
                            {
                                foreach (var item in products)
                                {
                                    <tr>
                                        <td>@item.ProductName</td>
                                        <td>@item.Price</td>
                                        <td><input type="checkbox" name="ProductIds" value="@item.ProductId" /></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <span class="text-danger" asp-validation-for="ProductIds"></span>
            </div>
        }
        else
        {
            <div class="form-group" id="from-order-price">
                <label>Giá trị đơn hàng từ</label>
                <input type="number" class="form-control" asp-for="FromOrderPrice" />
                <span class="text-danger" asp-validation-for="FromOrderPrice"></span>
            </div>
        }
        <input type="hidden" id="product-id-input" name="productIdsStr" />
    </form>

    <div class="form-group">
        <input type="button" value="Cập nhật khuyến mại" class="btn btn-success" onclick="submit()" />
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/calendar/mc-calendar.min.js"></script>
    <script type="text/javascript" src="~/js/calendar/calendar-helper.js"></script>
    <script type="text/javascript" src="~/admin/js/sale/update-sale.js"></script>
}