@{
    ViewData["Title"] = "Danh sách khuyến mại";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var sales = ViewBag.Sales as IList<Entities.Models.Sale>;
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Thông tin quảng cáo</h1>
    @if(TempData["MessageSuccess"] != null)
    {
        <div class="alert alert-success">@TempData["MessageSuccess"] </div>
    }
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-primary" asp-action="AddSale" asp-controller="Sale" asp-area="Admin">
                    Thêm thông tin khuyến mại
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên khuyến mại</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!(sales is null))
                        {
                            foreach (var item in sales)
                            {
                                <tr>
                                    <td>@item.SaleId</td>
                                    <td>@item.SaleName</td>
                                    <td>@item.SaleStartDate.ToShortDateString()</td>
                                    <td>@item.SaleEndDate.ToShortDateString()</td>
                                    <td>
                                        <a onclick="deleteSale(this, @item.SaleId)" style="cursor: pointer; color: #4e73df">Xóa</a>
                                        <a asp-action="EditSale" asp-controller="Sale"
                                           asp-area="Admin" asp-route-saleId="@item.SaleId" style="cursor: pointer; color: #4e73df">Sửa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script type="text/javascript" src="~/admin/js/sale/sale-index.js"></script>
}