@{
    ViewData["Title"] = "Sản phẩm khuyến nghị nhập kho";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";

    var ProductOutOfStock = ViewBag.ProductOutOfStock as IList<Entities.Models.ProductDetail>;
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Gợi ý mua hàng</h1>
    <h2 class="h3 mb-2 text-gray-800">Danh sách sản phẩm còn số lượng ít</h2>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu sắc</th>
                            <th>Số lượng trong kho</th>
                            <th>Số lượng đã đặt</th>
                            <th>Số lượng còn lại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ProductOutOfStock is not null)
                        {
                            @foreach (var item in ProductOutOfStock)
                            {
                                <tr>
                                    <td>@item.ProductDetailId</td>
                                    <td>@item.Product.ProductName</td>
                                    <td>@item.Color</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.QuantityOrdered</td>
                                    <td>@item.RemainingQuantity</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 class="h3 mb-2 text-gray-800">Danh sách sản phẩm bán chạy </h2>
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <span>Từ ngày: </span>
                        <div class="input-wrapper">
                            <input type="text" id="start-date" name="fromDate" class="form-field-input form-field-input-coupled" readonly />
                            <button id="start-date-button" type="button" class="btn btn-small">
                                <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                     data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <span>Đến ngày: </span>
                        <div class="input-wrapper">
                            <input type="text" id="end-date" name="toDate" class="form-field-input form-field-input-coupled" readonly />
                            <button id="end-date-button" type="button" class="btn btn-small">
                                <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                     data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                    <path fill="currentColor"
                                          d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="row d-flex align-items-end">
                    <div class="form-group">
                        <span>Nhập số lượng sản phẩm: </span>
                        <input type="number" class="form-control" required min="1" id="quantity" onkeypress='return event.charCode > 46 && event.charCode < 58' />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" style="margin-left: .5rem; margin-top: .5rem" onclick="ShowBestSeller()">Xem</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-primary" asp-action="Test" asp-controller="Home" asp-area="Warehouse">
                    Xem
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="best-seller" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu sắc</th>
                            <th>Số lượng trong kho</th>
                            <th>Số lượng đã đặt</th>
                            <th>Số lượng còn lại</th>
                        </tr>
                    </thead>
                    <tbody id="BestSeller">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h2 class="h3 mb-2 text-gray-800">Danh sách sản phẩm thường được mua kèm </h2>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="buy-together" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Màu sắc</th>
                            
                            <th>Số lượng trong kho</th>
                            <th>Số lượng đã đặt</th>
                            <th>Số lượng còn lại</th>
                        </tr>
                    </thead>
                    <tbody id="Rule">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a href="/Warehouse/Recommandation/AutoCreateReceiptRequest" class="btn btn-primary">Tạo phiếu yêu cầu nhập hàng</a>
</div>
@section Scripts
{
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script type="text/javascript" src="~/js/calendar/mc-calendar.min.js"></script>
    <script type="text/javascript" src="~/js/calendar/calendar-helper.js"></script>
    @*<script type="text/javascript" src="~/js/warehouse/recommendation/recommendation.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#best-seller').DataTable();
            $('#buy-together').DataTable();
        });

        function ShowBestSeller() {
            var quantity = $('#quantity').val();
            var fromDate = $('#start-date').val();
            var toDate = $('#end-date').val();
            var listProduct = [];
            if (fromDate === '' || toDate === '') {
                showError("Ngày bắt đầu và ngày kết thúc khồng được để trống", "380px");
                return undefined;
            }

            var fromDateJs = new Date(fromDate);
            var toDateJs = new Date(toDate);

            if (fromDateJs > toDateJs) {
                showError("Ngày bắt đầu không được lớn hơn ngày kết thúc", "380px");
                return undefined;
            }

            if (quantity === '' || parseInt(quantity) <= 0) {
                showError("Số lượng phải lớn hơn 0");
                return undefined;
            }
            $.ajax({
                url: '/Warehouse/Recommandation/GetBestSeller',
                method: 'GET',
                async: true,
                data: { fromDate: fromDate, toDate: toDate, quantity: quantity },
                success: function (data) {
                    if (data === 'null') {
                        showSuccess("Không có kết quả nào");
                        return undefined;
                    }
                    listProduct = JSON.parse(data);
                    var str = '';
                    for (let item of listProduct) {
                        str += '<tr><td>' + item.productDetailId + '</td>' +
                            '<td>' + item.productName + '</td>' +
                            '<td>' + item.color + '</td>' +
                            '<td>' + item.totalQuantity + '</td>' +
                            '<td>' + item.quantityOrdered + '</td>' +
                            '<td>' + item.RemainingQuantity + '</td></tr>';
                    }
                    $('#BestSeller').html(str);
                    if (listProduct.length > 0) {
                        $.ajax({
                            url: '/Warehouse/Recommandation/GetRecommandation',
                            method: 'GET',
                            async: true,
                            success: function (data) {
                                if (data === "null") {
                                    showSuccess("Không có sản phẩm mua kèm theo", "310px");
                                    return undefined;
                                }
                                var listProduct = JSON.parse(data);
                                var str = '';
                                for (let item of listProduct) {
                                    str += '<tr><td>' + item.productDetailId + '</td>' +
                                        '<td>' + item.productName + '</td>' +
                                        '<td>' + item.color + '</td>' +
                                        '<td>' + item.totalQuantity + '</td>' +
                                        '<td>' + item.quantityOrdered + '</td>' +
                                        '<td>' + item.RemainingQuantity + '</td></tr>';
                                }
                                $('#Rule').html(str);
                            }
                        })
                    }
                }
            });
        }
    </script>
}