@{
    ViewData["Title"] = "Trang chủ";

    var products = ViewBag.Products as IList<Entities.Models.Product>;

    string image = null;
}

<div class="position-01">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3">
                    <div class="img01">
                        <a href="#"><img src="images/position-01/home03/image1.png" alt="" /></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="img02">
                        <a href="#"><img src="images/position-01/home03/image2.png" alt="" /></a>
                    </div>
                    <div class="img03">
                        <a href="#"><img src="images/position-01/home03/image3.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="position-02">
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="special-pro">
                        <div class="title"><span>Specials</span></div>
                        <div class="products-grid">
                            <div class="item">
                                <div class="item-wrap">
                                    <div class="item-image">
                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                            <img class="first_image" src="images/product/larg/demo6.jpg" alt="Product demo" />
                                        </a>
                                        <div class="item-btn">
                                            <div class="box-inner">
                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                <span class="qview">
                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                </span>
                                            </div>
                                        </div>
                                        <a title="Add to cart" class="btn-cart" href="#">&nbsp;</a>
                                    </div>
                                    <div class="pro-info">
                                        <div class="pro-inner">
                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                            <div class="pro-content">
                                                <div class="wrap-price">
                                                    <div class="price-box">
                                                        <span class="regular-price">
                                                            <span class="price">$800.00</span>
                                                        </span>
                                                        <p class="special-price">
                                                            <span class="price">$1.459.00</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a title="Add to cart" class="all-view" href="#">All specials</a>
                                </div>
                                <!--end item wrap -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="other-pro">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#tab1">New arrivals</a></li>
                            <li><a data-toggle="tab" href="#tab2">POPULAR PRODUCTS</a></li>
                            <li><a data-toggle="tab" href="#tab3">Specail products</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane fade in active">
                                <div class="block vt-slider vt-slider7">
                                    <div class="slider-inner">
                                        <div class="container-slider">
                                            <div class="products-grid">
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo1.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                            <p class="special-price">
                                                                                <span class="price">$1.459.00</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo2.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                            <p class="special-price">
                                                                                <span class="price">$1.459.00</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo3.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                            <p class="special-price">
                                                                                <span class="price">$1.459.00</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo4.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                            <p class="special-price">
                                                                                <span class="price">$1.459.00</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo5.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                            <p class="special-price">
                                                                                <span class="price">$1.459.00</span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navslider">
                                            <a class="prev" href="#">Prev</a>
                                            <a class="next" href="#">Next</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div id="tab2" class="tab-pane fade">
                                <div class="block vt-slider vt-slider5">
                                    <div class="slider-inner">
                                        <div class="container-slider">
                                            <div class="products-grid">
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo6.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo7.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo8.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo9.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo10.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navslider">
                                            <a class="prev" href="#">Prev</a>
                                            <a class="next" href="#">Next</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div id="tab3" class="tab-pane fade">
                                <div class="block vt-slider vt-slider6">
                                    <div class="slider-inner">
                                        <div class="container-slider">
                                            <div class="products-grid">
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo11.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo12.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo8.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo1.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                                <div class="item">
                                                    <div class="item-wrap">
                                                        <div class="item-image">
                                                            <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                                <img class="first_image" src="images/product/larg/demo2.jpg" alt="Product demo" />
                                                            </a>
                                                            <div class="item-btn">
                                                                <div class="box-inner">
                                                                    <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                    <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                    <span class="qview">
                                                                        <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pro-info">
                                                            <div class="pro-inner">
                                                                <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                                <div class="pro-content">
                                                                    <div class="wrap-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">$800.00</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="ratings">
                                                                        <div class="rating-box">
                                                                            <div class="rating" style="width:80%"></div>
                                                                        </div>
                                                                        <span class="amount"><a href="#">1(s)</a></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                    </div>
                                                    <!--end item wrap -->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="navslider">
                                            <a class="prev" href="#">Prev</a>
                                            <a class="next" href="#">Next</a>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="positive-02">
    <div class="container">
        <div class="other-pro">
            @if(products is null)
            {
                <div>
                    Không có sản phẩm nào
                </div>
            }
            else
            foreach(var item in products)
            {
                <div class="col-lg-3">
                    <div class="products-grid">
                        <div class="item">
                            <div class="item-wrap">
                                <div class="item-image">
                                    <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                        @if (!(item.ProductImages.FirstOrDefault() is null))
                                        {
                                            {
                                            <img class="first_image" src="~/images/product/@item.ProductImages.FirstOrDefault().Image" 
                                             alt="Product demo" width="228" height="228" style="width: 100%; height: auto;" />
                                            }
                                            image = item.ProductImages.FirstOrDefault().Image;
                                        }
                                    </a>
                                    <div class="item-btn">
                                        <div class="box-inner">
                                            <a title="Add to wishlist" class="link-wishlist">&nbsp;</a>
                                            <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                            <span class="qview">
                                                <a class="vt_quickview_handler" data-original-title="Quick View"
                                                   data-placement="left" data-toggle="tooltip" 
                                                   asp-controller="Product" asp-action="Detail"
                                                   asp-route-id="@item.ProductId">
                                                    <span>
                                                        Quick
                                                        View
                                                    </span>
                                                </a>
                                            </span>
                                        </div>
                                    </div>

                                </div>
                                <div class="pro-info">
                                    <div class="pro-inner">
                                        <div class="pro-title product-name">
                                            <a href="detail.html">
                                                @item.ProductName
                                            </a>
                                        </div>
                                        <div class="pro-content">
                                            <div class="wrap-price">
                                                <div class="price-box">
                                                    <span class="regular-price">
                                                        <span class="price">@item.Price VNĐ</span>
                                                    </span>
                                                    @*<p class="special-price">
                                                        <span class="price">@item.Price VNĐ</span>
                                                    </p>*@
                                                </div>
                                            </div>
                                            <div class="ratings" style="margin-bottom: .5rem;">
                                                <div class="rating-box">
                                                    <p>Chưa có đánh giá</p>
                                                    @*<div class="rating" style="width:80%">
                                                    </div>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <a class="add-to-cart" asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                    Chi tiết
                                </a>
                            </div>
                            <!--end item wrap -->
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</div>
@section Scripts{ 
    <script>
        function loadingOut(loading) {
            setTimeout(() => loading.out(), 3000);
        }

        function verticalTextColor() {
            var loading = new Loading({
                title: 'Xin hãy đợi',
                titleColor: 'rgb(217, 83, 79)',
                discription: 'Loading...',
                discriptionColor: 'rgb(77, 150, 223)',
                animationOriginColor: 'rgb(33, 179, 132)',
                mask: true,
                loadingPadding: '20px 50px',
                defaultApply: true,
            });

            loadingOut(loading);
        }
    </script>
}