@{
    ViewData["Title"] = "Trang chủ";

    var products = ViewBag.Products as IList<Entities.Models.Product>;
    var salesImage = ViewBag.Sales as IList<string>;
    string image = null;

    int skip = 16;
}

<div class="position-01">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6" style="display: flex; flex-grow: 1; flex-wrap: wrap;flex-direction: row; justify-content: space-evenly; align-items: center; width: 100%">
                @if (salesImage != null && salesImage.Any())
                {
                    foreach (var item in salesImage)
                    {
                        <a href="javascript:void(0)">
                            <img src="~/images/sale/@item" alt="Khuyến mại" width="320" height="350" />
                        </a>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="position-02">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="other-pro">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab1">New arrivals</a></li>
                        <li><a data-toggle="tab" href="#tab2">POPULAR PRODUCTS</a></li>
                        <li><a data-toggle="tab" href="#tab3">Specail products</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="block vt-slider vt-slider7">
                                <div class="slider-inner">
                                    <div class="container-slider">
                                        <div class="products-grid">
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                        <p class="special-price">
                                                                            <span class="price">$1.459.00</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                        <p class="special-price">
                                                                            <span class="price">$1.459.00</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                        <p class="special-price">
                                                                            <span class="price">$1.459.00</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                        <p class="special-price">
                                                                            <span class="price">$1.459.00</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                        <p class="special-price">
                                                                            <span class="price">$1.459.00</span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navslider">
                                        <a class="prev" href="#">Prev</a>
                                        <a class="next" href="#">Next</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane fade">
                            <div class="block vt-slider vt-slider5">
                                <div class="slider-inner">
                                    <div class="container-slider">
                                        <div class="products-grid">
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navslider">
                                        <a class="prev" href="#">Prev</a>
                                        <a class="next" href="#">Next</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div id="tab3" class="tab-pane fade">
                            <div class="block vt-slider vt-slider6">
                                <div class="slider-inner">
                                    <div class="container-slider">
                                        <div class="products-grid">
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                            <div class="item">
                                                <div class="item-wrap">
                                                    <div class="item-image">
                                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                                            <img class="first_image" src="~/images/product/img_1.jpg" alt="Product demo" />
                                                        </a>
                                                        <div class="item-btn">
                                                            <div class="box-inner">
                                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                                <span class="qview">
                                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="pro-info">
                                                        <div class="pro-inner">
                                                            <div class="pro-title product-name"><a href="detail.html">Ipad Air and iOS7</a></div>
                                                            <div class="pro-content">
                                                                <div class="wrap-price">
                                                                    <div class="price-box">
                                                                        <span class="regular-price">
                                                                            <span class="price">$800.00</span>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                                <div class="ratings">
                                                                    <div class="rating-box">
                                                                        <div class="rating" style="width:80%"></div>
                                                                    </div>
                                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a title="Add to cart" class="add-to-cart" href="#">Add to cart</a>
                                                </div>
                                                <!--end item wrap -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="navslider">
                                        <a class="prev" href="#">Prev</a>
                                        <a class="next" href="#">Next</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="positive-02">
    <div class="container">
        <div class="other-pro" id="product-item" style="display: flex; flex-direction: row; justify-content: flex-start; flex-wrap: wrap;">
            @if (products is null)
            {
                <div class="text-center">
                    Không có sản phẩm nào
                </div>
            }
            else
                foreach (var item in products)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-9">
                        <div class="products-grid">
                            <div class="item">
                                <div class="item-wrap">
                                    <div class="item-image">
                                        <a class="product-image no-touch" href="#" title="Ipad Air and iOS7">
                                            @if (!(item.ProductImages.FirstOrDefault() is null))
                                            {
                                                {
                                                    <img class="first_image" src="~/images/product/@item.ProductImages.FirstOrDefault().Image"
                                                         alt="Product demo" width="228" height="228" style="width: 100%;" />
                                                }
                                                image = item.ProductImages.FirstOrDefault().Image;
                                            }
                                            else
                                            {
                                                <img class="first_image" src="~/images/product/img_1.jpg"
                                                     alt="Product demo" width="228" height="228" style="width: 100%;" />
                                            }
                                        </a>
                                        <div class="item-btn">
                                            <div class="box-inner">
                                                <a title="Add to wishlist" class="link-wishlist">&nbsp;</a>
                                                <span class="qview">
                                                    <a class="vt_quickview_handler" data-original-title="Quick View"
                                                       data-placement="left" data-toggle="tooltip"
                                                       asp-controller="Product" asp-action="Detail"
                                                       asp-route-id="@item.ProductId">
                                                        <span>
                                                            Quick
                                                            View
                                                        </span>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="pro-info">
                                        <div class="pro-inner">
                                            <div class="pro-title product-name">
                                                <a asp-controller="Product" asp-action="Detail"
                                                       asp-route-id="@item.ProductId">
                                                    @item.ProductName
                                                </a>
                                            </div>
                                            <div class="pro-content">
                                                <div class="wrap-price">
                                                    <div class="price-box" style="min-height: 60px">
                                                        @if (item.SalePrice > 0)
                                                        {
                                                            <span class="regular-price">
                                                                <span class="price">@String.Format("{0:n0}", item.SalePrice) VNĐ</span>
                                                            </span>
                                                            <p class="special-price">
                                                                <span class="price">@String.Format("{0:n0}", item.Price) VNĐ</span>
                                                            </p>
                                                        }
                                                        else
                                                        {
                                                            <span class="regular-price">
                                                                <span class="price">@String.Format("{0:n0}", item.Price) VNĐ</span>
                                                            </span>
                                                        }
                                                    </div>
                                                </div>
                                                <div style="height: 110px">
                                                    @if (item.RatingDetails != null && item.RatingDetails.Any())
                                                    {
                                                        var rating = from rd in item.RatingDetails
                                                                     group rd by rd.RatingId into g
                                                                     select new
                                                                     {
                                                                         RatingStar = g.Select(x => x.Rating.RatingNumber).FirstOrDefault(),
                                                                         UserRating = g.Count()
                                                                     };

                                                        var ratingTotal = (double)rating.Sum(x => x.UserRating * x.RatingStar) / rating.Sum(x => x.UserRating) / 5 * 100;
                                                        <span>Đánh giá</span>
                                                        <div class="ratings" style="margin-bottom: .5rem;">
                                                            <div class="rating-box">
                                                                <div class="rating" style="width:@Math.Ceiling(ratingTotal)%">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <p>Chưa có đánh giá</p>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="add-to-cart" asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                        Chi tiết sản phẩm
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
        </div>
    </div>
    <div style="display: flex; justify-content: center">
        <input type="hidden" id="skip-product" value="@skip" />
        <button type="button" class="btn btn-primary btn-lg button" 
                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Tải dữ liệu..."
                onclick="getProducts(this)">Xem thêm...</button>
    </div>
</div>
@section Scripts{ 
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script type="text/javascript" src="~/customer/home/home.js"></script>
}