@using static Common.Constant
@{
    ViewData["Title"] = "Đơn hàng đã giao";
    Layout = "~/Areas/Shipper/Views/Shared/_Layout.cshtml";
    var orders = ViewBag.Orders as IList<Services.Helpers.OrderHelper.OrderJoinHelper>;
    var customers = ViewBag.Customers as IList<Entities.Models.User>;
    var query = Html.ViewContext.HttpContext.Request.Query;
    string customer = null;
    string receivedDate = null;

    if (query.Keys.Contains("receivedDate"))
    {
        receivedDate = query.First(x => x.Key.Equals("receivedDate")).Value;
    }

    if (query.Keys.Contains("customer"))
    {
        customer = query.First(x => x.Key.Equals("customer")).Value;
    }
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Thông tin đơn hàng đã giao</h1>
    <div class="card shadow mb-4">
        <div class="card-header">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                       role="button" aria-expanded="true" aria-controls="collapseCardExample">
                        <h6 class="m-0 font-weight-bold text-primary">Bộ lọc</h6>
                    </a>
                    <div class="collapse show" id="collapseCardExample">
                        <div class="card-body">
                            <div class="row d-flex">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label for="user">Lọc theo ngày giao hàng</label>
                                        @if (receivedDate != null)
                                        {
                                            <div class="input-wrapper">
                                                <input type="text" id="date-input" name="receivedDate" value="@receivedDate" class="form-field-input form-field-input-coupled" readonly />
                                                <button id="date-button" type="button" class="btn btn-small">
                                                    <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                                         data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                                        <path fill="currentColor"
                                                              d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="input-wrapper">
                                                <input type="text" id="date-input" name="receivedDate" class="form-field-input form-field-input-coupled" readonly />
                                                <button id="date-button" type="button" class="btn btn-small">
                                                    <svg class="calendarIcon" aria-hidden="true" focusable="false" data-prefix="far"
                                                         data-icon="calendar-alt" role="img" viewBox="0 0 448 512">
                                                        <path fill="currentColor"
                                                              d="M148 288h-40c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12zm108-12v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 96v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm-96 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm192 0v-40c0-6.6-5.4-12-12-12h-40c-6.6 0-12 5.4-12 12v40c0 6.6 5.4 12 12 12h40c6.6 0 12-5.4 12-12zm96-260v352c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h48V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h128V12c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v52h48c26.5 0 48 21.5 48 48zm-48 346V160H48v298c0 3.3 2.7 6 6 6h340c3.3 0 6-2.7 6-6z" />
                                                    </svg>
                                                </button>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label for="user">Lọc theo khách hàng</label>
                                        <select class="form-control selectpicker show-tick" id="customer" data-live-search="true">
                                            <option value="null">Chọn khách hàng</option>
                                            @if (customer == null)
                                            {
                                                foreach (var item in customers)
                                                {
                                                    <option value="@item.Id">@item.FullName</option>
                                                }
                                            }
                                            else
                                            {
                                                foreach (var item in customers)
                                                {
                                                    if (item.Id.Equals(customer))
                                                    {
                                                        <option value="@item.Id" selected>@item.FullName</option>
                                                    }

                                                    else
                                                    {
                                                        <option value="@item.Id">@item.FullName</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-primary" onclick="filter()">Lọc</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày giao hàng</th>
                            <th>Người giao hàng</th>
                            <th>Phương thức thanh toán</th>
                            <th>Tổng tiền (VNĐ)</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!(orders is null))
                        {
                            foreach (var item in orders)
                            {
                                <tr>
                                    <td>@item.Order.OrderId</td>
                                    <td>@item.Order.User.FullName</td>
                                    <td>@item.Order.ReceivedDate.Date.ToShortDateString()</td>
                                    <td>@item.ShipperName</td>
                                    <td>@item.Order.PaymentMethod</td>
                                    <td>@item.Order.Total</td>
                                    @switch (item.Order.Status)
                                    {
                                        case STATUS_RECEIVED_GOODS:
                                            <td class="alert alert-success">@item.Order.Status</td>
                                            break;
                                        case STATUS_WAITING_EVALUATE:
                                            <td class="alert alert-success">@item.Order.Status</td>
                                            break;
                                        case STATUS_EVALUATED:
                                            <td class="alert alert-success">@item.Order.Status</td>
                                            break;
                                    }
                                    <td>
                                        <a asp-action="OrderDetail" asp-controller="Order" asp-area="Shipper" asp-route-orderId="@item.Order.OrderId">
                                            Xem
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/calendar/mc-calendar.min.js"></script>
    <script type="text/javascript" src="~/js/calendar/calendar-date.js"></script>
    <script type="text/javascript" src="~/shipper/order/order-delivered.js"></script>
}
