@inject Services.Interfacies.ICategoryService _categoryService
@inject Services.Interfacies.IProductService _productService
@{ 
    var categories = await _categoryService.GetAllCategoriesAsync();
    var productDetails = await _productService.GetTop10ProductHotAsync();
}
<div class="box-header-02">
    <div class="container">
        <div class="row">
            <div class="menu">
                <div class="box-main-menu">
                    <div class="main-menu">
                        <ul>
                            <li class="item1 first"><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                            <li class="item2 megamenu-parent">
                                <a href="#">Danh mục sản phẩm</a>
                                <div class="vt_megamenu_content">
                                    <div class="mega-menu-01">
                                        <div class="menu-01 menu-01-cate">
                                            <div class="title"><span>Loại sản phẩm</span></div>
                                            <ul class="content-col">
                                                @if (categories != null && categories.Any())
                                                {
                                                    foreach (var item in categories)
                                                    {
                                                        <li><a asp-action="Search" asp-controller="Search" asp-route-text="@item.CategoryName"><span>@item.CategoryName</span></a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="menu-01 menu-01-top">
                                            <div class="title"><span>Sản phẩm</span><span class="hot">Hot</span></div>
                                            <ul class="content-col">
                                                @if (productDetails != null && productDetails.Any())
                                                {
                                                    foreach(var item in productDetails.Take(5))
                                                    {
                                                        <li>
                                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                                                <span>@item.Product.ProductName phân loại @item.Color</span>
                                                            </a>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        @if(productDetails != null && productDetails.Count > 5)
                                        {
                                            <div class="menu-01 menu-01-top">
                                                <div class="title"><span>Sản phẩm</span><span class="hot">Hot</span></div>
                                                <ul class="content-col">
                                                    @foreach(var item in productDetails.Skip(5))
                                                    {
                                                        <li>
                                                            <a asp-action="Detail" asp-controller="Product" asp-route-id="@item.ProductId">
                                                                <span>@item.Product.ProductName phân loại @item.Color</span>
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                        @*<div id="feature" class="menu-01 menu-01-feature carousel-feature">
                                            <div class="title"><span>Featured</span><span class="new">New</span></div>
                                            <div class="carousel-inner">
                                                <div class="item active">
                                                    <div class="image"><img alt="" src="images/feature-mega01.png" /></div>
                                                    <div class="carousel-caption-feature">
                                                        <div class="title-advan">
                                                            <span class="name-advan">Ipad Air and iOS7</span>
                                                            <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="image"><img alt="" src="images/feature-mega01.png" /></div>
                                                    <div class="carousel-caption-feature">
                                                        <div class="title-advan">
                                                            <span class="name-advan">Ipad Air and iOS7</span>
                                                            <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="image"><img alt="" src="images/feature-mega01.png" /></div>
                                                    <div class="carousel-caption-feature">
                                                        <div class="title-advan">
                                                            <span class="name-advan">Ipad Air and iOS7</span>
                                                            <div class="text-des-advan"><span>At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</span></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="menu-01 menu-01-sale">
                                            <div class="title"><span>Sale</span></div>
                                            <div class="content">
                                                <img alt="" src="images/sale-mega-01.png" />
                                                <p class="description">At vero eos et accusamus et iusto odios un dignissimos ducimus qui blan ditiis prasixer esentium voluptatum</p>
                                                <div class="shop-now"><a title="Shop now" href="#"><span>Shop now</span></a></div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </li>
                            <li class="item4"><a href="javascript:void(0)">Giới thiệu </a></li>
                            <li class="item5"><a href="javascript:void(0)">Liên hệ </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <div class="bgr-menu">
        </div>
        </div>
    </div>
</div>