
@{
    ViewData["Title"] = "Sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var products = ViewBag.Products as IList<Entities.Models.Product>;
    var urlCallback = Context.Request.Path;
}


<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Thông tin sản phẩm</h1>
    @if(TempData["MessageSuccess"] != null) 
    {
        <div class="alert alert-success">@TempData["MessageSuccess"]</div>
    }
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-primary" asp-action="AddProduct" asp-controller="Product" asp-area="Admin">
                    Thêm sản phẩm
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Tên sản phẩm</th>
                            <th>Loại sản phẩm</th>
                            <th>Hình ảnh</th>
                            <th>Giá</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in products)
                        {
                            <tr>
                                <td>@item.ProductId</td>
                                <td><a asp-controller="Product" asp-action="ProductDetail" asp-area="Admin" asp-route-productId="@item.ProductId">
                                    @item.ProductName</a>
                                </td>
                                <td>@item.Category.CategoryName</td>
                                <td>
                                    @if (!(item.ProductImages.FirstOrDefault() is null))
                                    {
                                    <img src="~/images/product/@item.ProductImages.FirstOrDefault().Image" width="80" height="80" />
                                    }
                                </td>
                                <td>@item.Price</td>
                                <td>
                                <a onclick="deleteProduct(this, @item.ProductId)" style="cursor: pointer; color: #4e73df">Xóa</a> 
                                <a asp-action="EditProduct" 
                                    asp-area="Admin" asp-controller="Product"
                                    asp-route-id="@item.ProductId"
                                    asp-route-urlCallback="@urlCallback">Sửa</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{ 
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script type="text/javascript" src="~/admin/js/product/product-index.js"></script>
}