
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var productDetail = ViewBag.ProductDetail as IList<Entities.Models.ProductDetail>;
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Thông tin chi tiết sản phẩm</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Xuất xứ</th>
                            <th>Trọng lượng (KG)</th>
                            <th>Màu sắc</th>
                            <th>Chiều dài</th>
                            <th>Chiều rộng</th>
                            <th>Chiều cao</th>
                            <th>Số lượng</th>
                            <th>Số lượng đã đặt</th>
                            <th>Số lượng còn lại</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (!(productDetail is null))
                        {
                            foreach (var item in productDetail)
                            {
                                <tr>
                                    <td>@item.ProductDetailId</td>
                                    <td>@item.Origin</td>
                                    <td>@item.Weight</td>
                                    <td>@item.Color</td>
                                    <td>@item.Length</td>
                                    <td>@item.Width</td>
                                    <td>@item.Height</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.QuantityOrdered</td>
                                    <td>@item.RemainingQuantity</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>