@using static Common.Constant;
@{
    ViewData["Title"] = "Phiếu yêu cầu nhập kho";

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var request = ViewBag.Request as Entities.Models.ReceiptRequest;
}

<div class="container-fluid">

    @if (request != null)
    {
        <h1 align="center">Phiếu yêu cầu nhập kho</h1>
        <div class="form-group">
            <label>Mã phiếu: </label>
            <input type="text" class="form-control" name="ReceiptRequestId" value="@request.ReceiptRequestId" readonly />

        </div>
        <div class="form-group">
            <label>Người tạo: </label>
            <input type="text" class="form-control" name="UserId" value="@request.User.FullName" readonly />

        </div>
        <div class="form-group">
            <label>Ngày tạo: </label>
            <input type="datetime" class="form-control" name="CreateDate" value="@request.CreateDate.ToShortDateString()" readonly />

        </div>

        <div class="form-group">
            <label>Trạng thái: </label>

            <input type="text" class="form-control" name="Status" value="@request.Status" readonly />

        </div>

        <h3>Chi tiết yêu cầu</h3>

        @if (request.ReceiptRequestDetails.Count > 0)
        {
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng nhập</th>
                            <th>Giá nhập</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in request.ReceiptRequestDetails)
                        {
                            <tr>
                                <td>@item.ProductDetail.Product.ProductName</td>
                                <td>@item.Quantity</td>
                                <td>@item.Price</td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        }
        @if (request.Status == RECEIPT_STATUS_WAITING || request.Status == "Chờ xác nhận")
        {
            <div style="padding-top: .5rem">
                <a onclick="rejectReceipt(@request.ReceiptRequestId)" class="btn btn-danger" style="color: #FFF">Từ chối</a>
                <a onclick="approvedReceipt(@request.ReceiptRequestId)" class="btn btn-success" style="color: #FFF">Duyệt</a>
            </div>
        }
    }
    else
    {
        <h1 align="center">Đơn yêu cầu này đã bị xóa</h1>
    }
</div>
@section Scripts{
    <script src="~/js/notify/notify-helper.js"></script>
    <script>
        function rejectReceipt(id) {
            if (id === '') {
                showErrorSystem();
                return undefined;
            }
            $.ajax({
                url: '/Admin/Warehouse/RejectReceipt',
                method: 'DELETE',
                async: true,
                data: { id: id },
                success: function (data) {
                    switch (data) {
                        case 1:
                            window.location.href = '/Admin/Warehouse/ListReceiptRequest';
                            break;
                        default:
                            showErrorSystem();
                            break;
                    }
                },
                error: function (code, err) {
                    showErrorSystem();
                }
            })
        }

        function approvedReceipt(id) {
            if (id === '') {
                showErrorSystem();
                return undefined;
            }
            $.ajax({
                url: '/Admin/Warehouse/ApproveReceipt',
                method: 'PUT',
                async: true,
                data: { id: id },
                success: function (data) {
                    switch (data) {
                        case 1:
                            window.location.href = '/Admin/Warehouse/ListReceiptRequest';
                            break;
                        default:
                            showErrorSystem();
                            break;
                    }
                },
                error: function (code, err) {
                    showErrorSystem();
                }
            })
        }
    </script>
}

