@inject Services.Interfacies.IAccountService accountService
@inject Services.Interfacies.INotificationService notificationService 
@using static Common.Constant
@using static Common.RoleConstant
@{ 
    Entities.Models.User user = null;
    IList<Entities.Models.Notification> notifications = null;
    int? notificationsCount = null;

    if (User.Identity.IsAuthenticated)
    {
        user = await accountService.GetUserAsync(User);
        notifications = await notificationService.GetTenNotificationsAsync(ROLE_ADMIN, user.Id);
        notificationsCount = await notificationService.CountNotificationsAsync(ROLE_ADMIN, user.Id);
    }
}
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>


    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>

            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </li>


        <li class="nav-item dropdown no-arrow mx-1" id="notification-show">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                @if (notificationsCount != null)
                {
                    <span class="badge badge-danger badge-counter" id="notification-count">@notificationsCount</span>
                }
                else
                {
                    <span class="badge badge-danger badge-counter" id="notification-count">0</span>
                }
            </a>

            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                    Thông báo
                </h6>
                <div class="scroll" id="show-notification">
                    @if (notifications != null)
                    {
                        if (notifications.Any())
                        {
                            foreach (var item in notifications)
                            {
                                string onclick = "seenNotify(" + item.NotificationId + ")";
                                if (item.Status.Equals(STATUS_SEEN_NOTIFICATION))
                                {
                                    onclick = "javascript:void(0)";
                                }
                                switch (item.NotificationType.NotificationTypeName)
                                {
                                    case NOTIFICATION_ORDER:

                                        <a onclick="@onclick" class="dropdown-item d-flex align-items-center" href="@item.Link">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas fa-file-alt text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">@item.CreatedDate.ToShortDateString()</div>
                                                <span class="font-weight-bold">@item.Content</span>
                                            </div>
                                            @if (item.Status.Equals(STATUS_NOT_SEEN_NOTIFICATION))
                                            {
                                                <div>
                                                    <img src="~/images/background/icon-status.png" width="20" height="20" />
                                                </div>
                                            }
                                        </a>
                                        break;

                                    case NOTIFICATION_REJECT_ORDER:

                                        <a onclick="@onclick" class="dropdown-item d-flex align-items-center" href="@item.Link">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-warning">
                                                    <i class="fas fa-exclamation-triangle text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">@item.CreatedDate.ToShortDateString()</div>
                                                @item.Content
                                            </div>
                                            @if (item.Status.Equals(STATUS_NOT_SEEN_NOTIFICATION))
                                            {
                                                <div>
                                                    <img src="~/images/background/icon-status.png" width="20" height="20" />
                                                </div>
                                            }
                                        </a>
                                        break;

                                    default:
                                        <a  onclick="@onclick" class="dropdown-item d-flex align-items-center" href="@item.Link">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-success">
                                                    <i class="fas fa-warehouse text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">@item.CreatedDate.ToShortDateString()</div>
                                                @item.Content
                                            </div>
                                            @if (item.Status.Equals(STATUS_NOT_SEEN_NOTIFICATION))
                                            {
                                                <div>
                                                    <img src="~/images/background/icon-status.png" width="20" height="20" />
                                                </div>
                                            }
                                        </a>
                                        break;
                                }
                            }
                        }
                    }
                </div>
               
                <a id="show-add-notification" class="dropdown-item text-center small text-gray-500" 
                   asp-controller="Notification" asp-action="Notifications" asp-area="Admin">Xem tất cả thông báo</a>
            </div>
        </li>
        
        @*<li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>

                <span class="badge badge-danger badge-counter">7</span>
            </a>

            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                    Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/fn_BT9fwg_E/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div class="font-weight-bold">
                        <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been having.</div>
                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/AU4VPcFN4LE/60x60" alt="">
                        <div class="status-indicator"></div>
                    </div>
                    <div>
                        <div class="text-truncate">I have the photos that you ordered last month, how would you like them sent to you?</div>
                        <div class="small text-gray-500">Jae Chun · 1d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/CS2uCrpNzJY/60x60" alt="">
                        <div class="status-indicator bg-warning"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Last month's report looks great, I am very happy with the progress so far, keep up the good work!</div>
                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                    </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                    <div class="dropdown-list-image mr-3">
                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="">
                        <div class="status-indicator bg-success"></div>
                    </div>
                    <div>
                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</div>
                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                    </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
            </div>
        </li>*@

        <li>
            <div class="topbar-divider d-none d-sm-block"></div>
        </li>


        @if (!(user is null))
        {
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@user.FullName</span>
                    <img class="img-profile rounded-circle" src="~/images/user/@user.Email/@user.Image">
                </a>

                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" asp-controller="Account" asp-action="Information" asp-area="Admin">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i> Thông tin cá nhân
                    </a>
                    <a class="dropdown-item" asp-controller="Account" asp-action="ChangePassword" asp-area="Admin">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i> Đổi mật khẩu
                    </a>
                    <a class="dropdown-item" asp-route-page="1" asp-controller="Home" asp-action="ActivityLog" asp-area="Admin">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i> Nhật ký hoạt động
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Đăng xuất
                    </a>
                </div>
            </li>
        }

    </ul>

</nav>