@inject Microsoft.AspNetCore.Identity.UserManager<Entities.Models.User> userManager
@model FinalProject.Areas.Warehouse.ViewModels.ReceiptRequestViewModel
@{
    ViewData["Title"] = "Tạo phiếu yêu cầu nhập kho";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";
    var products = ViewBag.Products as IList<Entities.Models.ProductDetail>;
    var user = await userManager.GetUserAsync(User);
}
    
<div class="container-fluid">

    <h1 align="center">Phiếu yêu cầu nhập kho</h1>


    @if (!(ViewBag.MessageSuccess is null))
    {
        <div class="alert alert-success">@ViewBag.MessageSuccess</div>
    }
    @if (!(ViewBag.MessageExists is null))
    {
        <div class="alert alert-danger">@ViewBag.MessageExists</div>
    }
    @if (!(ViewBag.MessageError is null))
    {
        <div class="alert alert-danger">@ViewBag.MessageError</div>
    }

    <form asp-action="CreateReceiptRequest" asp-controller="Home" asp-area="Warehouse" role="form" method="post" id="form-receipt-request">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="CreateDate"></label>
            <input type="hidden" asp-for="UserId" value="@user.Id" />
            <input type="text" class="form-control" value="@user.FullName" readonly />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CreateDate"></label>
            <input type="hidden" asp-for="CreateDate" value="@DateTime.Now" />
            <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Status"></label>
            <input type="hidden" asp-for="Status" value="Chờ xác nhận" />
            <input type="text" class="form-control" value="Chờ xác nhận" readonly />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <h3>Chi tiết sản phẩm</h3>
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Tên sản phẩm</th>
                    <th>Màu sắc</th>
                    <th>Số lượng trong kho</th>
                    <th>Số lượng đặt thêm</th>
                    <th>Chọn</th>

                </tr>
            </thead>
            <tbody>
                @if (products != null)
                {
                    @foreach (var item in products)
                    {
                        <tr>
                            <td>@item.Product.ProductName</td>
                            <td>@item.Color</td>
                            <td>@item.Quantity</td>
                            <td>
                                <input type="number" class="form-control" min="0" onkeypress='return event.charCode > 46 && event.charCode < 58' name="quantity" />
                            </td>
                            <td>
                                @if (Model != null && Model.ProductDetailId != null && Model.ProductDetailId.Any())
                                {
                                    if (Model.ProductDetailId.Contains(item.ProductDetailId))
                                    {
                                        <input type="checkbox" name="ProductDetailId" class="form-control" value="@item.ProductDetailId" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="ProductDetailId" class="form-control" value="@item.ProductDetailId" />
                                    }
                                }
                                else
                                {
                                    <input type="checkbox" name="ProductDetailId" class="form-control" value="@item.ProductDetailId" />
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </form>
    <div class="form-group">
        <input type="button" value="Thêm phiếu yêu cầu" class="btn btn-success" onclick="submit()" />
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.selectpicker').selectpicker({
                liveSearch: true,
                showSubtext: true,
                Size: 10
            });
        });

        function submit() {
            var countErrorValidate = validateDetail();

            var rows = document.getElementsByName("ProductDetailId");

            var count = 0;

            for (let i = 0; i < rows.length; i++) {
                if (rows[i].checked === false) {
                    count++;
                }
            }

            if (rows.length === count) {
                Swal.fire({
                    title: 'Thông báo',
                    text: "Bạn chưa chọn sản phẩm nào! ",
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: `Ok`,
                });
            }
            else if (countErrorValidate === 0) {
                    $('#form-receipt-request').submit();
                }

        }

        function validateDetail() {
            var quantities = document.getElementsByName('quantity');
            var selected = document.getElementsByName('ProductDetailId');
            var countErrorValidate = 0;

            $('.validate-product-detail').remove();

            for (let i = 0; i < quantities.length; i++) {
                if (selected[i].checked === true) {
                    if (quantities[i].value === '' || quantities[i].value === '0') {
                        var node = quantities[i];
                        var text = '<span class="field-validation-valid text-danger validate-product-detail">' +
                            'Số lượng không hợp lệ</span>';
                        countErrorValidate++;
                        $(node).parent().append(text);
                    }
                }

            }
            return countErrorValidate;
        }

    </script>
}
