@model FinalProject.Areas.Warehouse.ViewModels.ReceiptRequestViewModel
@{
    ViewData["Title"] = "Tạo phiếu yêu cầu nhập kho";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";
    var productDetails = ViewBag.Products as IList<Entities.Models.ProductDetail>;
    var user = ViewBag.User as Entities.Models.User;
}
@section Links{ 
    <link href="~/admin/css/table-scroll.css" rel="stylesheet" type="text/css"/>
}
<div class="container-fluid">

    <h1 align="center">Phiếu yêu cầu nhập kho</h1>


    @if (!(ViewBag.MessageSuccess is null))
    {
        <div class="alert alert-success">@ViewBag.MessageSuccess</div>
    }
    @if (!(ViewBag.MessageExists is null))
    {
        <div class="alert alert-danger">@ViewBag.MessageExists</div>
    }
    @if (!(ViewBag.MessageError is null))
    {
        <div class="alert alert-danger">@ViewBag.MessageError</div>
    }

    <form asp-action="CreateReceiptRequest" asp-controller="Home" asp-area="Warehouse" role="form" method="post" id="form-receipt-request">
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label asp-for="CreateDate"></label>
            <input type="hidden" asp-for="UserId" value="@user.Id" />
            <input type="text" class="form-control" value="@user.FullName" readonly />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="CreateDate"></label>
            <input type="hidden" asp-for="CreateDate" value="@DateTime.Now" />
            <input type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
            <span asp-validation-for="CreateDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Status"></label>
            <input type="hidden" asp-for="Status" value="Chờ xác nhận" />
            <input type="text" class="form-control" value="Chờ xác nhận" readonly />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <h3>Chi tiết sản phẩm</h3>
        <div class="table-responsive wrapper">
            <table class="table table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên sản phẩm</th>
                        <th>Màu sắc</th>
                        <th>Số lượng trong kho</th>
                        <th>Giá bán trong kho</th>
                        <th>Số lượng đặt thêm</th>
                        <th>Giá nhập</th>
                        <th>Chọn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (productDetails != null)
                    {
                        @foreach (var item in productDetails)
                        {
                            <tr>
                                <td>@item.Product.ProductName</td>
                                <td>@item.Color</td>
                                <td>@item.Quantity</td>
                                <td>@String.Format("{0:n0}", item.Price) VNĐ</td>
                                <td>
                                    <input type="number" name="Quantity" class="form-control" min="0" onkeypress='return event.charCode > 46 && event.charCode < 58' />
                                </td>
                                <td>
                                    <input type="text" name="Prices" class="form-control" />
                                </td>
                                <td>
                                    @if (Model != null && Model.ProductDetailId != null && Model.ProductDetailId.Any())
                                    {
                                        if (Model.ProductDetailId.Contains(item.ProductDetailId))
                                        {
                                            <input type="checkbox" name="ProductDetailId" class="form-control" value="@item.ProductDetailId" checked />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="ProductDetailId" class="form-control" value="@item.ProductDetailId" />
                                        }
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="ProductDetailId" class="form-control" value="@item.ProductDetailId" />
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </form>
    <div class="form-group">
        <input type="button" value="Thêm phiếu yêu cầu" class="btn btn-success" onclick="submit()" />
    </div>
</div>

@section Scripts{
    <script>
        function submit() {
            var countErrorValidate = validateDetail();

            var rows = document.getElementsByName("ProductDetailId");

            var count = 0;

            for (let i = 0; i < rows.length; i++) {
                if (rows[i].checked === false) {
                    count++;
                }
            }

            if (rows.length === count) {
                Swal.fire({
                    title: 'Thông báo',
                    text: "Bạn chưa chọn sản phẩm nào! ",
                    icon: 'warning',
                    confirmButtonColor: '#3085d6',
                    confirmButtonText: `Ok`,
                });
            }
            else if (countErrorValidate === 0) {
                    $('#form-receipt-request').submit();
                }

        }

        function validateDetail() {
            var quantities = document.getElementsByName('Quantity');
            var selected = document.getElementsByName('ProductDetailId');
            var prices = document.getElementsByName('Prices');
            var countErrorValidate = 0;

            $('.validate-product-detail').remove();

            for (let i = 0; i < quantities.length; i++) {
                if (selected[i].checked === true) {
                    if (quantities[i].value === '' || quantities[i].value === '0') {
                        var node = quantities[i];
                        var text = '<span class="field-validation-valid text-danger validate-product-detail">' +
                            'Số lượng không hợp lệ</span>';
                        countErrorValidate++;
                        $(node).parent().append(text);
                    }
                    if (prices[i].value === '' || prices[i].value === '0') {
                        var node = prices[i];
                        var textErrorPrice = '<span class="field-validation-valid text-danger validate-product-detail">' +
                            'Bạn chưa nhập giá bán</span>';
                        countErrorValidate++;
                        $(node).parent().append(textErrorPrice);
                    }
                }

            }
            return countErrorValidate;
        }

    </script>
}
