@{
    ViewData["Title"] = "Danh sách phiếu yêu cầu nhập kho";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";
    var requests = ViewBag.Receipts as IList<Entities.Models.ImportWarehouse>;
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Danh sách phiếu nhập hàng</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Ngày tạo</th>
                            <th>Tổng số sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (requests != null)
                        {
                            @foreach (var item in requests)
                            {
                                <tr>
                                    <td>@item.ReceiptRequestId</td>

                                    <td class="category-name">@item.CreateDate.ToShortDateString()</td>
                                    <td class="category-name">@item.ImportWarehouseDetails.Count</td>
                                    @if (item.Status.Equals("Hoàn thành"))
                                    {
                                        <td class="category-name alert alert-success">@item.Status</td>
                                    }
                                    else 
                                    {
                                        <td class="category-name alert alert-warning">@item.Status</td>
                                    }
                                    <td>

                                        <a asp-action="UpdateReceipt" asp-controller="Home" asp-area="Warehouse" asp-route-id="@item.ImportWarehouseId" style="cursor: pointer; color: #4e73df">Xem chi tiết</a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
