@inject Microsoft.AspNetCore.Identity.UserManager<Entities.Models.User> userManager
@model FinalProject.Areas.Warehouse.ViewModels.ReceiptRequestViewModel
@{
    ViewData["Title"] = "Phiếu yêu cầu nhập kho";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";
    var request = ViewBag.Request as Entities.Models.ReceiptRequest;
}

<div class="container-fluid">

    <h1 align="center">Phiếu yêu cầu nhập kho</h1>
    <div class="form-group">
        <label>Mã phiếu: </label>
        <input type="text" class="form-control" name="ReceiptRequestId" value="@request.ReceiptRequestId" readonly />

    </div>
    <div class="form-group">
        <label>Người tạo: </label>
        <input type="text" class="form-control" name="UserId" value="@request.User.FullName" readonly />

    </div>
    <div class="form-group">
        <label>Ngày tạo: </label>
        <input type="datetime" class="form-control" name="CreateDate" value="@request.CreateDate.ToString("MM-dd-yyyy")" readonly />

    </div>

    <div class="form-group">
        <label>Trạng thái: </label>
        <input type="text" class="form-control" name="Status" value="@request.Status" readonly />

    </div>

    <h3>Chi tiết yêu cầu</h3>

    @if(request.ReceiptRequestDetails.Count > 0)
    {
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã chi tiết sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá nhập</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in request.ReceiptRequestDetails)
                    {
                        <tr>
                            <td>@item.ProductDetailId</td>
                            <td>@item.ProductDetail.Product.ProductName</td>
                            <td>@item.Quantity</td>
                            <td>@String.Format("{0:n0}", item.Price) VNĐ</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    }

</div>