@using static Common.Constant;
@{
    ViewData["Title"] = "Danh sách phiếu yêu cầu nhập hàng";
    Layout = "~/Areas/Warehouse/Views/Shared/_Layout.cshtml";
    var requests = ViewBag.ListRequests as IList<Entities.Models.ReceiptRequest>;
}

<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Danh sách phiếu yêu cầu nhập hàng</h1>
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Người tạo</th>
                            <th>Ngày tạo</th>
                            <th>Tổng số sản phẩm</th>
                            <th>Trạng thái</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in requests)
                        {
                            <tr>
                                <td>@item.ReceiptRequestId</td>
                                @if(item.UserId != null)
                                {
                                    <td class="category-name">@item.User.FullName</td>
                                }
                                else { 
                                <td></td>
                                }
                                

                                <td class="category-name">@item.CreateDate</td>
                                <td class="category-name">@item.ReceiptRequestDetails.Count</td>
                                <td class="category-name">@item.Status</td>
                                <td>
                                    @if (item.Status.Contains(RECEIPT_REQUEST_STATUS_WAITING))
                                    {
                                        <a onclick="DeleteReceipt(this, @item.ReceiptRequestId)" style="cursor: pointer; color: #4e73df">Xóa</a><br>
                                    }

                                    <a asp-action="ViewRequestReceipt" asp-controller="Home" asp-area="Warehouse" asp-route-id="@item.ReceiptRequestId" style="cursor: pointer; color: #4e73df">Xem chi tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/notify/notify-helper.js"></script>
    <script src="~/admin/js/receipt-request/view-receipt-request.js"></script>
}