@using System.Web
@inject Microsoft.AspNetCore.Identity.UserManager<Entities.Models.User> userManager
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = ViewBag.Product as Entities.Models.Product;
    var ratings = ViewBag.Ratings as IList<Entities.Models.Rating>;
    var ratingsDetail = ViewBag.RatingsDetail as IList<Entities.Models.RatingDetail>;

    int? productDetailId = null;

    string image = null;

    decimal? price = null;

    var isLogin = User.IsInRole("Customer");

    var user = await userManager.GetUserAsync(User);

    var comments = ViewBag.Comments as IList<Entities.Models.Comment>;
 
    var suggest = ViewBag.Suggest as IList<Entities.Models.Product>;


    var skip = 10;
}
@section Styles{
    <style>
        [contenteditable="true"] {
            background: #ffffff;
            -moz-box-sizing: border-box;
            border: 1px solid #CBD5DD;
            border-radius: 2px;
            max-height: 50px;
            word-wrap: break-word;
            margin: 0;
            min-height: 30px;
            overflow: auto;
            position: relative;
            padding-left: 5px;
            vertical-align: top;
            box-sizing: border-box;
        }

        .blog-comment::before,
        .blog-comment::after,
        .blog-comment-form::before,
        .blog-comment-form::after {
            content: "";
            display: table;
            clear: both;
        }

        .blog-comment {
            padding-left: 15%;
            padding-right: 15%;
        }

        .blog-comment ul {
            list-style-type: none;
            padding: 0;
        }

        .blog-comment img {
            opacity: 1;
            filter: Alpha(opacity=100);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
        }

        .blog-comment img.avatar {
            position: relative;
            float: left;
            margin-left: 0;
            margin-top: 0;
            width: 65px;
            height: 65px;
        }

        .blog-comment .post-comments {
            border: 1px solid #eee;
            margin-bottom: 20px;
            margin-left: 85px;
            margin-right: 0px;
            padding: 10px 20px;
            position: relative;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            background: #fff;
            color: #6b6e80;
            position: relative;
        }

        .blog-comment .meta {
            font-size: 13px;
            color: #aaaaaa;
            padding-bottom: 8px;
            margin-bottom: 10px !important;
            border-bottom: 1px solid #eee;
        }

        .blog-comment ul.comments ul {
            list-style-type: none;
            padding: 0;
            margin-left: 85px;
        }

        .blog-comment-form {
            padding-left: 15%;
            padding-right: 15%;
            padding-top: 40px;
        }

        .blog-comment h3,
        .blog-comment-form h3 {
            margin-bottom: 40px;
            font-size: 26px;
            line-height: 30px;
            font-weight: 800;
        }
    </style>
}


<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>@product.Category.CategoryName</strong>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-main">
            <div class="product-essential">
                <div class="wrap">
                    <form action="/Cart/AddToCart" method="post" id="product-addtocart-form">
                        <div class="product-name">
                            <h1>@product.ProductName</h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4">
                                <div class="image-load">
                                    <div class="exzoom hidden-exzoom" id="exzoom">
                                        <div class="exzoom_img_box">
                                            <ul class='exzoom_img_ul'>
                                                @if (!(product.ProductImages is null))
                                                {
                                                    if (!(product.ProductImages.FirstOrDefault() is null))
                                                    {
                                                        image = product.ProductImages.FirstOrDefault().Image;


                                                        foreach (var item in product.ProductImages)
                                                        {
                                                            <li><img src="~/images/product/@item.Image" class="img-full-100" style="cursor:pointer"></li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li><img src="~/images/product/img_1.jpg" class="img-full-100" style="cursor:pointer"></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="exzoom_nav"></div>
                                        <p class="exzoom_btn">
                                            <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                                            <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <h2>@product.ProductName</h2>
                                <h3 class="mb-2 text-muted text-uppercase small">Loại sản phẩm: @product.Category.CategoryName</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <p>
                                    <h3 class="mr-1">
                                        Giá bán:
                                        @if (product.SalePrice > 0)
                                        {
                                            <strong style="color: #ee4d2d" class="price"> @product.SalePrice VNĐ</strong>
                                            <span>Giá gốc: </span><del class="price"> @product.Price VNĐ</del>
                                        }
                                        else
                                        {
                                            <strong style="color: #ee4d2d" class="price"> @product.Price VNĐ</strong>
                                        }
                                    </h3>
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                            @if (!(product.ProductDetails is null))
                                            {
                                                <tr>
                                                    <th class="pl-0 w-25" scope="row">
                                                        <strong>Loại</strong> (chọn một loại)
                                                        <br />
                                                        <strong>Đã chọn: <span id="type-choose"></span></strong>
                                                    </th>
                                                    <td>
                                                        @foreach (var item in product.ProductDetails)
                                                        {
                                                            if (item.RemainingQuantity > 0)
                                                            {
                                                                <button type="button" class="btn btn-default btn-outline-warning" value="@item.ProductDetailId"
                                                                        onclick="setSizeQuantity(@item.RemainingQuantity, @item.ProductDetailId, '@item.Color', '@item.Origin')">
                                                                    @item.Color
                                                                </button>

                                                                productDetailId = item.ProductDetailId;
                                                                if (product.SalePrice > 0)
                                                                {
                                                                    price = product.SalePrice;
                                                                }
                                                                else
                                                                {
                                                                    price = product.Price;
                                                                }
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-default btn-outline-warning disabled">
                                                                    @item.Color
                                                                </button>

                                                                productDetailId = item.ProductDetailId;

                                                                price = product.Price;
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="pl-0 w-25" scope="row"><strong>Xuất xứ</strong></th>
                                                    <td>
                                                        <div id="product-detail-origin" style="padding-left: 2px; display: inline-block;">
                                                            @foreach (var item in product.ProductDetails)
                                                            {
                                                                @string.Concat(item.Origin, " ")
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start" class="mx-2">
                                    <strong style="padding-right: 2rem">Số lượng</strong>
                                    <div style="display: flex; align-items: center; height: 30px;">
                                        <button class="btn btn-danger" style="height: 30px;" type="button" onclick="decrease()">
                                            -
                                        </button>
                                        <input type="text" id="Quantity" name="Quantity" min="1" value="1"
                                                class="input-quantity" onblur="checkValue()" onchange="setQuantity()">
                                        <button class="btn btn-danger" style="height: 30px" type="button" onclick="ascending()">
                                            +
                                        </button>

                                        <span id="detail-quantity" style="padding-left: 2rem;">@product.Total sản phẩm sẵn có</span>
                                    </div>

                                </div>
                                <hr />
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <button type="button" class="btn btn-cart btn-md mr-1 mb-2 btn-danger"
                                    onclick="submit(@price, '@image', '@product.ProductName', '@isLogin')">
                                <i class="icon-shopping-cart" style="padding-right: 1rem;"></i>Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>

                    <div class="tab-detail">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Mô tả</a></li>
                            <li><a data-toggle="tab" href="#menu1">Màu sắc / kích thước</a></li>
                            <li><a data-toggle="tab" href="#menu2">Đánh giá</a></li>
                            <li><a data-toggle="tab" href="#menu3">Bình Luận</a></li>
                            <li><a data-toggle="tab" href="#menu4">Xem đánh giá khác</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                @Html.Raw(HttpUtility.HtmlDecode(product.Description))
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <table class="data-table review-summary-table ratings" id="product-review-table">
                                    <thead>
                                        <tr>
                                            <th>Màu sắc</th>
                                            <th>Xuất xứ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in product.ProductDetails)
                                        {
                                            <tr>
                                                <td class="value">@item.Color</td>
                                                <td class="value">@item.Origin</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div class="form-add">
                                    <h3>Chọn số sao</h3>
                                    <div class="fieldset">
                                        <span id="input-message-box"></span>
                                        <table class="data-table review-summary-table ratings" id="product-review-table">
                                            <thead>
                                                <tr>
                                                    <th>&nbsp;</th>
                                                    <th>
                                                        <div class="rating-box">
                                                            <span class="rating nobr" style="width:20%;"></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rating-box">
                                                            <span class="rating nobr" style="width:40%;"></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rating-box">
                                                            <span class="rating nobr" style="width:60%;"></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rating-box">
                                                            <span class="rating nobr" style="width:80%;"></span>
                                                        </div>
                                                    </th>
                                                    <th>
                                                        <div class="rating-box">
                                                            <span class="rating nobr" style="width:100%;"></span>
                                                        </div>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th>Đánh giá</th>
                                                    @if (ratings != null)
                                                    {
                                                        foreach (var item in ratings)
                                                        {
                                                            <td class="value"><label for="Rating"><input type="radio" name="ratings" value="@item.RatingId" class="radio" /></label></td>
                                                        }
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>

                                        <br />
                                        <ul class="form-list">
                                            <li>
                                                <label for="review_field" class="required"> Nhập nội dung đánh giá của bạn </label>
                                                <div class="input-box">
                                                    <textarea name="review-content" id="rating-content" cols="5" rows="3" class="required-entry"></textarea>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="buttons-set">
                                        <button type="button" title="Gửi đánh giá" class="button" onclick="Rating('@isLogin', @product.ProductId)"><span>Gửi đánh giá</span></button>
                                    </div>
                                </div>
                                @if (!isLogin)
                                {
                                    <div style="text-align: center">
                                        <h1>Vui lòng đăng nhập để đánh giá sản phẩm</h1>
                                    </div>
                                }
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <div class="container bootstrap snippets bootdey">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blog-comment">
                                                <h3 class="text-success">Bình luận</h3>
                                                <hr />
                                                <ul class="comments" id="comment">

                                                    @for (int i = 0; i < comments.Count; i++)
                                                    {
                                                        if (comments[i].ReplyCommentId == null)
                                                        {
                                                            <li class="clearfix">
                                                                <div class="comment-block">
                                                                    @if (comments[i].User.Image != null)
                                                                    {
                                                                        <img src="~/images/user/@comments[i].User.Email/@comments[i].User.Image" class="avatar" alt="">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/images/user/avatar.png" class="avatar" alt="">
                                                                    }
                                                                    <div class="post-comments">
                                                                        <p class="meta">
                                                                            @comments[i].CreateDate.Date.ToLongDateString() <a href="#">@comments[i].User.FullName </a>
                                                                            Nói :
                                                                            @if (isLogin)
                                                                            {
                                                                                <i class="pull-right">
                                                                                    <span style="cursor: pointer;" onclick="addInput(this, @comments[i].CommentId, @product.ProductId, '@user.Email', '@user.Id', '@user.FullName', '@user.Image')">
                                                                                        <small>Trả lời</small>
                                                                                    </span>
                                                                                    @if (comments[i].UserId == user.Id)
                                                                                    {
                                                                                        <span> | </span>
                                                                                        <span style="cursor: pointer;" onclick="deleteComment(this, @comments[i].CommentId)">
                                                                                            <small>Xóa</small>
                                                                                        </span>
                                                                                        <span> | </span>
                                                                                        <span style="cursor: pointer;" onclick="repairComment(this, @comments[i].CommentId)">
                                                                                            <small>Sửa</small>
                                                                                        </span>
                                                                                    }
                                                                                </i>
                                                                            }
                                                                        </p>
                                                                        <p>
                                                                            @comments[i].Content
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <ul class="comments">
                                                                    @{
                                                                        var commentReplies = comments.Where(x => x.ReplyCommentId == comments[i].CommentId).ToList();
                                                                    }
                                                                    @for (int j = 0; j < commentReplies.Count; j++)
                                                                    {
                                                                        <li class="clearfix">
                                                                            <div class="comment-block">
                                                                                @if (commentReplies[j].User.Image != null)
                                                                                {
                                                                                    <img src="~/images/user/@commentReplies[j].User.Email/@commentReplies[j].User.Image" class="avatar" alt="">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img src="~/images/user/avatar.png" class="avatar" alt="">
                                                                                }
                                                                                <div class="post-comments">
                                                                                    <p class="meta">
                                                                                        @commentReplies[j].CreateDate.Date.ToLongDateString() <a href="#">@commentReplies[j].User.FullName </a>
                                                                                        Nói :
                                                                                        @if (isLogin)
                                                                                        {
                                                                                            <i class="pull-right">
                                                                                                <span style="cursor: pointer;" onclick="addReplyChildrentInput(this, @comments[j].CommentId, @product.ProductId, '@user.Email', '@user.Id', '@user.FullName', '@user.Image')">
                                                                                                    <small>Trả lời</small>
                                                                                                </span>
                                                                                                @if (commentReplies[j].UserId == user.Id)
                                                                                                {
                                                                                                    <span> | </span>
                                                                                                    <span style="cursor: pointer;" onclick="deleteComment(this, @commentReplies[j].CommentId)">
                                                                                                        <small>Xóa</small>
                                                                                                    </span>
                                                                                                    <span> | </span>
                                                                                                    <span style="cursor: pointer;" onclick="repairComment(this, @commentReplies[j].CommentId)">
                                                                                                        <small>Sửa</small>
                                                                                                    </span>
                                                                                                }
                                                                                            </i>

                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        @commentReplies[j].Content
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                                @if (isLogin)
                                                {
                                                    string imageLink = "avatar.png";

                                                    if (!(user.Image is null))
                                                    {
                                                        imageLink = user.Email + "/" + user.Image;
                                                    }

                                                    <div class="comment">
                                                        <div class="comment-block">
                                                            <img src="~/images/user/@imageLink" class="avatar" alt="">
                                                            <div class="post-comments">
                                                                <textarea id="comment-content" contenteditable="true" class="form-control"
                                                                          placeholder="Viết bình luận"></textarea>
                                                                <button type="button" onclick="addOwnerComment('@user.Image', '@user.Id', '@isLogin', '@user.Email', '@user.FullName', @product.ProductId)" class="btn btn-success" style="margin-top: 5px;">Gửi</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu4" class="tab-pane fade">
                                <div class="container bootstrap snippets bootdey">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blog-comment">
                                                <h3 class="text-success">Các đánh giá</h3>
                                                <hr />
                                                <ul class="rating" id="rating">
                                                    @if (ratingsDetail != null)
                                                    {
                                                        for (int i = 0; i < ratingsDetail.Count; i++)
                                                        {
                                                            <li class="clearfix">
                                                                <div class="comment-block">
                                                                    @if (ratingsDetail[i].User.Image != null)
                                                                    {
                                                                        <img src="~/images/user/@ratingsDetail[i].User.Email/@ratingsDetail[i].User.Image" class="avatar" alt="">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/images/user/avatar.png" class="avatar" alt="">
                                                                    }
                                                                    <div class="post-comments">
                                                                        @{ 
                                                                            var rating = Math.Ceiling((double)ratingsDetail[i].Rating.RatingNumber / 5 * 100);
                                                                        }
                                                                        <p class="meta">
                                                                            @ratingsDetail[i].RatingDate.Date.ToShortDateString() <a href="javascript:void(0)">@ratingsDetail[i].User.FullName </a>
                                                                        </p>
                                                                        <div class="meta" style="display: inline-block">
                                                                            <span style="float: left">Đánh giá:</span>
                                                                            <div class="rating-box"><span class="rating nobr" style="width:@rating%;"></span></div>
                                                                        </div>
                                                                        <p>
                                                                            @ratingsDetail[i].Content
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                            <div style="display: flex; justify-content: center">
                                                <input type="hidden" id="skip-product" value="@skip" />
                                                <button type="button" class="btn btn-primary btn-lg button"
                                                        data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Tải dữ liệu..."
                                                        onclick="getMoreRating(@product.ProductId)">
                                                    Xem thêm...
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End detail product-->
    <div>
        <div class="block vt-slider vt-slider7">
            <div class="slider-inner">
                <div class="container-slider">
                    <div class="products-grid">
                        @foreach (var item in suggest)
                        {
                            <div class="item">
                                <div class="item-wrap">
                                    <div class="item-image">
                                        <a class="product-image no-touch" href="#" title="@item.ProductName">
                                            @if (item.ProductImages != null)
                                            {
                                                <img class="first_image" src="~/images/product/@item.ProductImages.FirstOrDefault()" alt="Product demo" />
                                            }

                                        </a>
                                        <div class="item-btn">
                                            <div class="box-inner">
                                                <a title="Add to wishlist" href="#" class="link-wishlist">&nbsp;</a>
                                                <a title="Add to compare" href="#" class="link-compare">&nbsp;</a>
                                                <span class="qview">
                                                    <a class="vt_quickview_handler" data-original-title="Quick View" data-placement="left" data-toggle="tooltip" href="#"><span>Quick View</span></a>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="pro-info">
                                        <div class="pro-inner">
                                            <div class="pro-title product-name"><a href="detail.html">@item.ProductName</a></div>
                                            <div class="pro-content">
                                                <div class="wrap-price">
                                                    <div class="price-box">
                                                        <span class="regular-price">
                                                            <span class="price">@item.Price</span>
                                                        </span>
                                                        <p class="special-price">
                                                            <span class="price">Sale Price</span>
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="ratings">
                                                    <div class="rating-box">
                                                        <div class="rating" style="width:80%"></div>
                                                    </div>
                                                    <span class="amount"><a href="#">1(s)</a></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a title="Add to cart" class="add-to-cart" href="#">Thêm vào giỏ</a>
                                </div>
                                <!--end item wrap -->
                            </div>}


                    </div>
                </div>
                <div class="navslider">
                    <a class="prev" href="#">Prev</a>
                    <a class="next" href="#">Next</a>
                </div>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/notify/notify-helper.js"></script>
    <script src="~/js/product-detail/product-detail.js"></script>
    <script src="~/js/product-detail/comment.js"></script>
}