@using System.Web
@inject Microsoft.AspNetCore.Identity.UserManager<Entities.Models.User> userManager
@{
    ViewData["Title"] = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var product = ViewBag.Product as Entities.Models.Product;

    int? productDetailId = null;

    string image = null;

    decimal? price = null;

    var isLogin = User.Identity.IsAuthenticated;

    var user = await userManager.GetUserAsync(User);

    var comments = ViewBag.Comments as IList<Entities.Models.Comment>;
}

<style>
    [contenteditable="true"] {
        background: #ffffff;
        -moz-box-sizing: border-box;
        border: 1px solid #CBD5DD;
        border-radius: 2px;
        max-height: 50px;
        word-wrap: break-word;
        margin: 0;
        min-height: 30px;
        overflow: auto;
        position: relative;
        padding-left: 5px;
        vertical-align: top;
        box-sizing: border-box;
    }

    .blog-comment::before,
    .blog-comment::after,
    .blog-comment-form::before,
    .blog-comment-form::after {
        content: "";
        display: table;
        clear: both;
    }

    .blog-comment {
        padding-left: 15%;
        padding-right: 15%;
    }

        .blog-comment ul {
            list-style-type: none;
            padding: 0;
        }

        .blog-comment img {
            opacity: 1;
            filter: Alpha(opacity=100);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
        }

            .blog-comment img.avatar {
                position: relative;
                float: left;
                margin-left: 0;
                margin-top: 0;
                width: 65px;
                height: 65px;
            }

        .blog-comment .post-comments {
            border: 1px solid #eee;
            margin-bottom: 20px;
            margin-left: 85px;
            margin-right: 0px;
            padding: 10px 20px;
            position: relative;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -o-border-radius: 4px;
            border-radius: 4px;
            background: #fff;
            color: #6b6e80;
            position: relative;
        }

        .blog-comment .meta {
            font-size: 13px;
            color: #aaaaaa;
            padding-bottom: 8px;
            margin-bottom: 10px !important;
            border-bottom: 1px solid #eee;
        }

        .blog-comment ul.comments ul {
            list-style-type: none;
            padding: 0;
            margin-left: 85px;
        }

    .blog-comment-form {
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 40px;
    }

        .blog-comment h3,
        .blog-comment-form h3 {
            margin-bottom: 40px;
            font-size: 26px;
            line-height: 30px;
            font-weight: 800;
        }
</style>

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>@product.Category.CategoryName</strong>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div id="main" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-main">
            <div class="product-essential">
                <div class="wrap">
                    <form action="/Cart/AddToCart" method="post" id="product-addtocart-form">
                        <div class="product-name">
                            <h1>@product.ProductName</h1>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-4">
                                <div class="image-load">
                                    <div class="exzoom hidden-exzoom" id="exzoom">
                                        <div class="exzoom_img_box">
                                            <ul class='exzoom_img_ul'>
                                                @if (!(product.ProductImages is null))
                                                {
                                                    if (!(product.ProductImages.FirstOrDefault() is null))
                                                    {
                                                        image = product.ProductImages.FirstOrDefault().Image;


                                                        foreach (var item in product.ProductImages)
                                                        {
                                                            <li><img src="~/images/product/@item.Image" class="img-full-100" style="cursor:pointer"></li>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <li><img src="~/images/product/img_1.jpg" class="img-full-100" style="cursor:pointer"></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                        <div class="exzoom_nav"></div>
                                        <p class="exzoom_btn">
                                            <a href="javascript:void(0);" class="exzoom_prev_btn"> < </a>
                                            <a href="javascript:void(0);" class="exzoom_next_btn"> > </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-8">
                                <h2>@product.ProductName</h2>
                                <h3 class="mb-2 text-muted text-uppercase small">Loại sản phẩm: @product.Category.CategoryName</h3>
                                <ul class="rating">
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                    <li>
                                        <i class="fa fa-star fa-sm text-primary"></i>
                                    </li>
                                </ul>
                                <p><h3 class="mr-1">Giá bán: <strong style="color: #ee4d2d">@product.Price</strong></h3></p>
                                <div class="table-responsive">
                                    <table class="table table-sm table-borderless mb-0">
                                        <tbody>
                                            @if (!(product.ProductDetails is null))
                                            {
                                                <tr>
                                                    <th class="pl-0 w-25" scope="row">
                                                        <strong>Loại</strong> (chọn một loại)
                                                        <br />
                                                        <strong>Đã chọn: <span id="type-choose"></span></strong>
                                                    </th>
                                                    <td>
                                                        @foreach (var item in product.ProductDetails)
                                                        {
                                                            if (item.Quantity > 0)
                                                            {
                                                                <button type="button" class="btn btn-default btn-outline-warning" value="@item.ProductDetailId"
                                                                        onclick="setSizeQuantity(@item.Quantity, @item.ProductDetailId, '@item.Color', '@item.Origin', '@string.Concat(item.Length, "x", item.Width, "x", item.Height)')">
                                                                    @item.Color
                                                                </button>

                                                                productDetailId = item.ProductDetailId;

                                                                price = product.Price;
                                                            }
                                                            else
                                                            {
                                                                <button type="button" class="btn btn-default btn-outline-warning disabled" value="@item.ProductDetailId"
                                                                        onclick="setSizeQuantity(@item.Quantity, @item.ProductDetailId, '@item.Color', '@item.Origin', '@string.Concat(item.Length, "x", item.Width, "x", item.Height)')">
                                                                    @item.Color
                                                                </button>

                                                                productDetailId = item.ProductDetailId;

                                                                price = product.Price;
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="pl-0 w-25" scope="row"><strong>Kích thước (mm)</strong></th>
                                                    <td>
                                                        <div id="product-detail-size" style="padding-left: 2px; display: inline-block;">
                                                            @foreach (var item in product.ProductDetails)
                                                            {
                                                                @string.Concat(item.Length, "x", item.Width, "x", item.Height, " ")
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="pl-0 w-25" scope="row"><strong>Xuất xứ</strong></th>
                                                    <td>
                                                        <div id="product-detail-origin" style="padding-left: 2px; display: inline-block;">
                                                            @foreach (var item in product.ProductDetails)
                                                            {
                                                                @string.Concat(item.Origin, " ")
                                                            }
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <hr>
                                <div style="display: flex; flex-wrap: nowrap; justify-content: flex-start" class="mx-2">
                                    <strong style="padding-right: 2rem">Quantity</strong>
                                    <div style="display: flex; align-items: center; height: 30px;">
                                        <button class="btn btn-danger" style="height: 30px;" type="button" onclick="decrease()">
                                            -
                                        </button>
                                        <input type="text" id="Quantity" name="Quantity" min="1" value="1"
                                               class="input-quantity" onblur="checkValue()" onchange="setQuantity()">
                                        <button class="btn btn-danger" style="height: 30px" type="button" onclick="ascending()">
                                            +
                                        </button>

                                        <span id="detail-quantity" style="padding-left: 2rem;">@product.Total sản phẩm sẵn có</span>
                                    </div>

                                </div>
                                <hr />
                            </div>
                        </div>
                    </form>
                    <div class="col-lg-12">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-8">
                            <button type="button" class="btn btn-cart btn-md mr-1 mb-2 btn-danger"
                                    onclick="submit(@price, '@image', '@product.ProductName', '@isLogin')">
                                <i class="icon-shopping-cart" style="padding-right: 1rem;"></i>Thêm vào giỏ hàng
                            </button>
                        </div>
                    </div>
                    <!--Tab detail-->
                    <div class="tab-detail">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Mô tả</a></li>
                            <li><a data-toggle="tab" href="#menu1">Màu sắc / kích thước</a></li>
                            <li><a data-toggle="tab" href="#menu2">Đánh giá</a></li>
                            <li><a data-toggle="tab" href="#menu3">Bình Luận</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                @Html.Raw(HttpUtility.HtmlDecode(product.Description))
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <table class="data-table review-summary-table ratings" id="product-review-table">
                                    <thead>
                                        <tr>
                                            <th>Màu sắc</th>
                                            <th>Kích thước</th>
                                            <th>Xuất xứ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in product.ProductDetails)
                                        {
                                            <tr>
                                                <td class="value">@item.Color</td>
                                                <td class="value">@string.Concat(item.Width, "x", item.Height, "x", item.Length)</td>
                                                <td class="value">@item.Origin</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Customer Reviews 1 item(s)</h3>
                                <p><span tyle="float:left;">1 Item(s)</span> <span style="float:right;">Show <select><option>6</option><option selected>10</option><option>12</option><option>15</option><option>20</option></select>per page</span></p>
                                <br />
                                <p><a href="#>">7uptheme</a></p>
                                <p>At verov eos et accusamus et iusto ods un dignissimos ducimus qui blan ditiis prasixer esentium</p>
                                <table class="ratings-table">
                                    <colgroup>
                                        <col class="review-label" />
                                        <col class="review-value" />
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>Quality</th>
                                            <td>
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Price</th>
                                            <td>
                                                <div class="rating-box">
                                                    <div class="rating" style="width:80%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Value</th>
                                            <td>
                                                <div class="rating-box">
                                                    <div class="rating" style="width:100%;"></div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <p>Review by 7uptheme / (Posted on 4/14/2015)</p>
                                <div class="form-add">
                                    <h2>Write Your Own Review</h2>
                                    <form action="" method="post" id="review-form">
                                        <input name="form_key" type="hidden" value="JbT1G5uAkBcFDot6" />
                                        <h3>
                                            You're reviewing: <span>Ipad Air and iOS7</span>
                                        </h3>
                                        <div class="fieldset">
                                            <h4>How do you rate this product? <em class="required">*</em></h4>
                                            <span id="input-message-box"></span>
                                            <table class="data-table review-summary-table ratings" id="product-review-table">
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>
                                                            <div class="rating-box">
                                                                <span class="rating nobr" style="width:20%;"></span>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="rating-box">
                                                                <span class="rating nobr" style="width:40%;"></span>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="rating-box">
                                                                <span class="rating nobr" style="width:60%;"></span>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="rating-box">
                                                                <span class="rating nobr" style="width:80%;"></span>
                                                            </div>
                                                        </th>
                                                        <th>
                                                            <div class="rating-box">
                                                                <span class="rating nobr" style="width:100%;"></span>
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>Price</th>
                                                        <td class="value"><label for="Price_1"><input type="radio" name="ratings[3]" id="Price_1" value="11" class="radio" /></label></td>
                                                        <td class="value"><label for="Price_2"><input type="radio" name="ratings[3]" id="Price_2" value="12" class="radio" /></label></td>
                                                        <td class="value"><label for="Price_3"><input type="radio" name="ratings[3]" id="Price_3" value="13" class="radio" /></label></td>
                                                        <td class="value"><label for="Price_4"><input type="radio" name="ratings[3]" id="Price_4" value="14" class="radio" /></label></td>
                                                        <td class="value"><label for="Price_5"><input type="radio" name="ratings[3]" id="Price_5" value="15" class="radio" /></label></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Value</th>
                                                        <td class="value"><label for="Value_1"><input type="radio" name="ratings[2]" id="Value_1" value="6" class="radio" /></label></td>
                                                        <td class="value"><label for="Value_2"><input type="radio" name="ratings[2]" id="Value_2" value="7" class="radio" /></label></td>
                                                        <td class="value"><label for="Value_3"><input type="radio" name="ratings[2]" id="Value_3" value="8" class="radio" /></label></td>
                                                        <td class="value"><label for="Value_4"><input type="radio" name="ratings[2]" id="Value_4" value="9" class="radio" /></label></td>
                                                        <td class="value"><label for="Value_5"><input type="radio" name="ratings[2]" id="Value_5" value="10" class="radio" /></label></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Quality</th>
                                                        <td class="value"><label for="Quality_1"><input type="radio" name="ratings[1]" id="Quality_1" value="1" class="radio" /></label></td>
                                                        <td class="value"><label for="Quality_2"><input type="radio" name="ratings[1]" id="Quality_2" value="2" class="radio" /></label></td>
                                                        <td class="value"><label for="Quality_3"><input type="radio" name="ratings[1]" id="Quality_3" value="3" class="radio" /></label></td>
                                                        <td class="value"><label for="Quality_4"><input type="radio" name="ratings[1]" id="Quality_4" value="4" class="radio" /></label></td>
                                                        <td class="value"><label for="Quality_5"><input type="radio" name="ratings[1]" id="Quality_5" value="5" class="radio" /></label></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                                            <ul class="form-list">
                                                <li>
                                                    <label for="review_field" class="required"><em>*</em>Let us know your thoughts</label>
                                                    <div class="input-box">
                                                        <textarea name="detail" id="review_field" cols="5" rows="3" class="required-entry"></textarea>
                                                    </div>
                                                </li>
                                                <li class="inline-label">
                                                    <label for="summary_field" class="required"><em>*</em>Summary of Your Review</label>
                                                    <div class="input-box">
                                                        <input type="text" name="title" id="summary_field" class="input-text required-entry" value="" />
                                                    </div>
                                                </li>
                                                <li class="inline-label">
                                                    <label for="nickname_field" class="required"><em>*</em>What's your nickname?</label>
                                                    <div class="input-box">
                                                        <input type="text" name="nickname" id="nickname_field" class="input-text required-entry" value="" />
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="buttons-set">
                                            <button type="submit" title="Submit Review" class="button"><span><span>Submit Review</span></span></button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <div class="container bootstrap snippets bootdey">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blog-comment">
                                                <h3 class="text-success">Bình luận</h3>
                                                <hr />
                                                <ul class="comments" id="comment">

                                                    @for (int i = 0; i < comments.Count; i++)
                                                    {
                                                        if (comments[i].ReplyCommentId == null)
                                                        {
                                                            <li class="clearfix">
                                                                <div class="comment-block">
                                                                    @if (comments[i].User.Image != null)
                                                                    {
                                                                        <img src="~/images/user/@comments[i].User.Email/@comments[i].User.Image" class="avatar" alt="">
                                                                    }
                                                                    else
                                                                    {
                                                                        <img src="~/images/user/avatar.png" class="avatar" alt="">
                                                                    }
                                                                    <div class="post-comments">
                                                                        <p class="meta">
                                                                            @comments[i].CreateDate.Date.ToLongDateString() <a href="#">@comments[i].User.FullName </a>
                                                                            Nói :
                                                                            @if (isLogin)
                                                                            {
                                                                                <i class="pull-right">
                                                                                    <span style="cursor: pointer;" onclick="addInput(this, @comments[i].CommentId, @product.ProductId, '@user.Email', '@user.Id', '@user.FullName', '@user.Image')">
                                                                                        <small>Trả lời</small>
                                                                                    </span>
                                                                                    @if (comments[i].UserId == user.Id)
                                                                                    {
                                                                                        <span> | </span>
                                                                                        <span style="cursor: pointer;" onclick="deleteComment(this, @comments[i].CommentId)">
                                                                                            <small>Xóa</small>
                                                                                        </span>
                                                                                        <span> | </span>
                                                                                        <span style="cursor: pointer;" onclick="repairComment(this, @comments[i].CommentId)">
                                                                                            <small>Sửa</small>
                                                                                        </span>
                                                                                    }
                                                                                </i>
                                                                            }
                                                                        </p>
                                                                        <p>
                                                                            @comments[i].Content
                                                                        </p>
                                                                    </div>
                                                                </div>

                                                                <ul class="comments">
                                                                    @{
                                                                        var commentReplies = comments.Where(x => x.ReplyCommentId == comments[i].CommentId).ToList();
                                                                    }
                                                                    @for (int j = 0; j < commentReplies.Count; j++)
                                                                    {
                                                                        <li class="clearfix">
                                                                            <div class="comment-block">
                                                                                @if (commentReplies[j].User.Image != null)
                                                                                {
                                                                                    <img src="~/images/user/@commentReplies[j].User.Email/@commentReplies[j].User.Image" class="avatar" alt="">
                                                                                }
                                                                                else
                                                                                {
                                                                                    <img src="~/images/user/avatar.png" class="avatar" alt="">
                                                                                }
                                                                                <div class="post-comments">
                                                                                    <p class="meta">
                                                                                        @commentReplies[j].CreateDate.Date.ToLongDateString() <a href="#">@commentReplies[j].User.FullName </a>
                                                                                        Nói :
                                                                                        @if (isLogin)
                                                                                        {
                                                                                            <i class="pull-right">
                                                                                                <span style="cursor: pointer;" onclick="addReplyChildrentInput(this, @comments[j].CommentId, @product.ProductId, '@user.Email', '@user.Id', '@user.FullName', '@user.Image')">
                                                                                                    <small>Trả lời</small>
                                                                                                </span>
                                                                                                @if (commentReplies[j].UserId == user.Id)
                                                                                                {
                                                                                                    <span> | </span>
                                                                                                    <span style="cursor: pointer;" onclick="deleteComment(this, @commentReplies[j].CommentId)">
                                                                                                        <small>Xóa</small>
                                                                                                    </span>
                                                                                                    <span> | </span>
                                                                                                    <span style="cursor: pointer;" onclick="repairComment(this, @commentReplies[j].CommentId)">
                                                                                                        <small>Sửa</small>
                                                                                                    </span>
                                                                                                }
                                                                                            </i>

                                                                                        }
                                                                                    </p>
                                                                                    <p>
                                                                                        @commentReplies[j].Content
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </li>
                                                        }
                                                    }

                                                </ul>
                                                @if (isLogin)
                                                {
                                                    string imageLink = "avatar.png";

                                                    if (!(user.Image is null))
                                                    {
                                                        imageLink = user.Email + "/" + user.Image;
                                                    }

                                                    <div class="comment">
                                                        <div class="comment-block">
                                                            <img src="~/images/user/@imageLink" class="avatar" alt="">
                                                            <div class="post-comments">
                                                                <textarea id="comment-content" contenteditable="true" class="form-control"
                                                                          placeholder="Viết bình luận"></textarea>
                                                                <button type="button" onclick="addOwnerComment('@user.Image', '@user.Id', '@isLogin', '@user.Email', '@user.FullName', @product.ProductId)" class="btn btn-success" style="margin-top: 5px;">Gửi</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End Upselt product-->
                </div>
            </div>
        </div>
    </div>
    <!--End detail product-->
</div>
@section Scripts{
    <script src="~/js/product-detail/product-detail.js"></script>
    <script src="~/js/comment/comment.js"></script>
    <script src="~/js/notify/notify-helper.js"></script>
}