@inject Services.Interfacies.IAccountService _accountService
@using static Common.Constant
@using X.PagedList.Mvc.Core
@using X.PagedList
@model PagedList<Entities.Models.Order>
@{
    ViewData["Title"] = "Thông tin tất cả đơn hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var orders = ViewBag.Orders as IList<Entities.Models.Order>;

    Entities.Models.User user = null;

    if (User.IsInRole("Customer")) 
    {
        user = await _accountService.GetUserAsync(User);
    }
}

<div id="box-content">
    <div class="position-02">
        <div class="container">
            <div class="row">
                <div class="">
                    <h1>Thông tin tất cả đơn hàng</h1>
                    <div class="table-wrap">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Mã đơn hàng</th>
                                    <th>Ngày đặt</th>
                                    <th>Sản phẩm</th>
                                    <th>Tổng sản phẩm</th>
                                    <th>Tổng tiền</th>
                                    <th>Trạng thái</th>
                                    <th>Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td><a style="color: dodgerblue" asp-action="OrderInfo" asp-controller="Order" asp-route-orderId="@item.OrderId"> @item.OrderId </a></td>

                                        <td>@item.OrderDate.ToShortDateString()</td>
                                        <td>
                                            @item.OrderDetails.FirstOrDefault().ProductDetail.Product.ProductName
                                        </td>
                                        <td>
                                            @item.OrderDetails.Count
                                        </td>
                                        <td>
                                            @String.Format("{0:n0}", item.Total)
                                        </td>
                                        <td>@item.Status</td>
                                        <td>
                                            
                                                
                                            @if (!item.Status.Equals(STATUS_PENDING_ADMIN_CANCED_ORDER) && !item.Status.Equals(STATUS_CANCELED))
                                            {
                                                if (item.Status.Equals(STATUS_WAITING_CONFIRM))
                                                {
                                                    <button class="btn btn-danger px-2" type="button" onclick="rejectOrder(this, @item.OrderId)"> Hủy đơn hàng </button>
                                                }
                                            }
                                            
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div style="text-align: center">
                            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Orders", new { userId = user.Id, page }),
                                new X.PagedList.Web.Common.PagedListRenderOptions
                                {
                                    DisplayItemSliceAndTotal = false,
                                    ContainerDivClasses = new[] { "navigation" },
                                    LiElementClasses = new[] { "page-item" },
                                    PageClasses = new[] { "page-link" },
                                })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script type="text/javascript" src="~/js/loading/loading.js"></script>
    <script src="~/customer/remove-nav.js"></script>
    <script src="~/customer/order/reject-order.js"></script>

}