@model FinalProject.ViewModels.OrderViewModel
@{
    ViewData["Title"] = "Đặt hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = ViewBag.User as Entities.Models.User;
    var addressString = user.StreetName + " - " + user.Ward.WardName + " - " + user.Ward.District.DistrictName + " - " + user.Ward.District.Province.ProvinceName;
    var carts = ViewBag.Carts as IList<Entities.Models.CartItem>;
    var total = (decimal)ViewBag.TotalOfCart;
    var provinces = ViewBag.Provinces as IList<Entities.Models.Province>;
    var orderInfo = "";
    var addresses = ViewBag.Addresses as IList<SelectListItem>;
    decimal totalSale = 0;
    decimal totalOriginal = 0;
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <ul>
                <li class="home">
                    <a asp-action="Index" asp-controller="Home" title="Go to Home Page">Trang chủ</a>
                    <span>|</span>
                </li>
                <li class="category3">
                    <strong>Đặt hàng</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="box-content">
    <div class="position-02">
        <div class="container">
            @if (User.Identity.IsAuthenticated)
            {

                <div class="row">
                    <div class="col-md-8 order-md-1">
                        <h4 class="mb-3">Thông tin thanh toán</h4>
                        <form id="order" class="needs-validation" asp-action="Order" asp-controller="Order" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="Total" value="@total" />
                            <div class="row">
                                <div class="col-md-12 mb-6">
                                    <label for="fullName">Họ và tên: </label>
                                    <input type="text" class="form-control" id="full-name" placeholder="" value="@user.FullName" readonly>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email">Email <span class="text-muted">(Optional)</span></label>
                                <input type="email" class="form-control" id="email" value="@user.Email" placeholder="you@example.com" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="address">Địa chỉ nhận hàng</label>
                                <select class="selectpicker show-tick form-control" name="DeliveryAddress"
                                        onchange="getDistricts()" id="delivery-address" data-live-search="true">
                                    <option value="@null">Địa chỉ giao hàng</option>
                                    @if (!(addresses is null))
                                    {
                                        <option value="@addressString">@addressString</option>
                                        foreach (var item in addresses)
                                        {
                                            <option value="@item.Text">@item.Text</option>
                                        }
                                    }
                                </select>
                                <span class="text-danger" asp-validation-for="DeliveryAddress"></span>
                            </div>
                            <br />
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addNewAddress">Thêm địa chỉ nhận hàng khác</button>
                            <hr class="mb-4">
                            <h4 class="mb-3">Phương thức thanh toán</h4>
                            <div class="d-block my-3">
                                @{
                                    orderInfo = "Đơn hàng của khách hàng " + user.FullName;
                                }
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio image-checkbox">
                                            <input type="radio" class="custom-control-input" name="PaymentMethod" value="MoMo">
                                            <label class="custom-control-label" for="ck2a">
                                                <img src="~/images/logo/momo.png" width="80" height="80" alt="#" class="img-fluid">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio image-checkbox">
                                            <input type="radio" class="custom-control-input" name="PaymentMethod" value="PayPal">
                                            <label class="custom-control-label" for="ck2b">
                                                <img src="~/images/logo/paypal.png" width="80" height="80" alt="#" class="img-fluid">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio image-checkbox">
                                            <input type="radio" class="custom-control-input" name="PaymentMethod" value="COD">
                                            <label class="custom-control-label" for="ck2b">
                                                <img src="~/images/logo/cod.png" width="80" height="80" alt="#" class="img-fluid">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <span class="text-danger" asp-validation-for="PaymentMethod"></span>
                            </div>
                            <hr class="mb-4">
                        </form>
                        <button class="btn btn-success btn-lg btn-block" type="button" onclick="order()">Đặt hàng</button>
                    </div>
                    <div class="col-md-4 order-md-2 mb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-muted">Giỏ hàng của bạn: </span>
                            <span class="badge badge-secondary badge-pill">@carts.Count</span>
                        </h4>
                        <ul class="list-group mb-3 sticky-top">
                            @foreach (var item in carts)
                            {
                                totalSale += item.ProductDetail.Product.Price * item.Quantity - item.Price * item.Quantity;
                                totalOriginal += item.ProductDetail.Product.Price * item.Quantity;
                                <li class="list-group-item d-flex lh-condensed">
                                    <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-start; align-items: center;">
                                        <div class="col-md-4">
                                            @if (item.ProductDetail.Product.ProductImages is null || item.ProductDetail.Product.ProductImages.FirstOrDefault() is null)
                                            {
                                                <img src="~/images/product/img_1.jpg" style="width: 100%;" />
                                            }
                                            else
                                            {
                                                <img src="~/images/product/@item.ProductDetail.Product.ProductImages.FirstOrDefault().Image" style="width: 100%;" />
                                            }
                                        </div>
                                        <div class="col-md-8">
                                            <h6 class="my-0">
                                                <a asp-controller="Product" asp-action="Detail"
                                                   asp-route-id="@item.ProductDetail.Product.ProductId">
                                                    @item.ProductDetail.Product.ProductName
                                                </a>
                                            </h6>
                                            <p class="text-muted">Số lượng: @item.Quantity</p>
                                            <p class="text-muted">Giá: @String.Format("{0:n0}", item.Price) VNĐ</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item d-flex justify-content-between">
                                <span>Tổng tiền giá gốc: <strong>@String.Format("{0:n0}", totalOriginal)</strong> (VNĐ)</span><br />
                                <span>Tổng tiền khuyễn mãi: <strong>@String.Format("{0:n0}", totalSale)</strong> (VNĐ)</span><br />
                                <span>Tổng tiền: <strong>@String.Format("{0:n0}", total)</strong> (VNĐ)</span>
                            </li>
                        </ul>
                        <a class="btn btn-warning" asp-action="Checkout" asp-controller="Cart" style="width: 100%">Quay lại giỏ hàng</a>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-md-12 order-md-1">
                        <h4 class="alert alert-success">Hết phiên đăng nhập, mời bạn đăng nhập lại</h4>
                    </div>
                </div>
            }
            <div class="modal fade" id="addNewAddress" role="dialog" style="z-index: 100000">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Thêm địa chỉ giao hàng mới</h4>
                        </div>
                        <div class="modal-body">
                            <div class="col-sm-12 row modal-lg">
                                <div class="col-sm-4 mb-3 mb-sm-0">
                                    <select class="selectpicker show-tick form-control" name="ProvinceId"
                                            onchange="getDistricts()" id="province" data-live-search="true">
                                        <option value="null">Tỉnh/Thành phố</option>
                                        @if (!(provinces is null))
                                        {
                                            foreach (var item in provinces)
                                            {
                                                <option value="@item.ProvinceId">@item.ProvinceName</option>
                                            }
                                        }
                                    </select>
                                </div>
                                <div class="col-sm-4" id="district">
                                    <select class="selectpicker show-tick form-control"
                                            name="DistrictId"
                                            id="district-id" onchange="getWards()"
                                            data-live-search="true">
                                        <option value="null">Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="col-sm-4" id="ward">
                                    <select name="WardCode" id="ward-id"
                                            class="selectpicker show-tick form-control" data-live-search="true">
                                        <option value="null">Phường/Xã</option>

                                    </select>
                                </div>
                            </div>
                            <hr />
                            <div class="modal-lg col-sm-12 row">
                                <div class="col-sm-6" id="street-name">
                                    <input type="text" class="form-control" placeholder="Tên đường/Thôn/Khu phố" id="street" name="StreetName">
                                </div>
                            </div>
                            <div class="modal-lg col-sm-12 row">
                                <span class="text-danger" id="address-alert"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" onclick="addNewAddress('@user.Id')">Thêm địa chỉ</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script type="text/javascript" src="~/admin/bootstrap-select/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/js/order/order-client.js"></script>
}