@{
    ViewData["Title"] = "Thông tin tài khoản nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Shippers = ViewBag.Shippers as IList<Entities.Models.User>;
    var WM = ViewBag.WM as IList<Entities.Models.User>;
}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Danh sách nhân viên</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-primary" asp-action="CreateEmployeeAccount" asp-controller="Account" asp-area="Admin">
                    Thêm nhân viên
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên tài khoản</th>
                            <th>Tên nhân viên</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Chức vụ</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (WM != null)
                        {
                            @foreach (var item in WM)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>Quản lý kho</td>
                                    <td>
                                        <a class="text-decoration-none" asp-action="ViewInforEmployee" asp-controller="Account" asp-area="Admin" asp-route-id="@item.Id">Xem</a>
                                        <a class="text-decoration-none" onclick="Delete('@item.Id')">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                        @if (Shippers != null)
                        {
                            @foreach (var item in Shippers)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>Người giao hàng</td>
                                    <td>
                                        <a class="text-decoration-none" asp-action="ViewInforEmployee" asp-controller="Account" asp-area="Admin" asp-route-id="@item.Id">Xem</a>
                                        <a class="text-decoration-none" onclick="Delete('@item.Id')">Xóa</a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts{ 
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script>
        function Delete(id) {
            Swal.fire({
                title: 'Xóa tài khoản!',
                text: "Bạn có muốn xóa tài khoản này không ?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: `Xóa`,
                cancelButtonText: `Hủy`,
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        url: '/Admin/Account/Delete',
                        method: 'DELETE',
                        async: true,
                        data: { id: id },
                        success: function (data) {
                            if (data === 1) {
                                showSuccess('Xóa tài khoản thành công');
                                return undefined;
                            }

                            if (data === 3) {
                                showError('Xóa tài khoản không thành công');
                                return undefined;
                            }
                        },
                        error: function (code, err) {
                            showErrorSystem();
                        }
                    })
                }
            })
        }
    </script>
} 