@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var Shippers = ViewBag.Shippers as IList<Entities.Models.User>;
    var WM = ViewBag.WM as IList<Entities.Models.User>;
}
<div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Danh sách nhân viên</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a class="btn btn-primary" asp-action="CreateEmployeeAccount" asp-controller="Account" asp-area="Admin">
                    Thêm nhân viên
                </a>
            </h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tên tài khoản</th>
                            <th>Tên nhân viên</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Chức vụ</th>
                            <th>Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (WM is not null)
                        {
                            @foreach (var item in WM)
                            {
                                <tr>
                                    <td>@item.UserName</td>
                                    <td>@item.FullName</td>
                                    <td>@item.Gender</td>
                                    <td>@item.Email</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>Quản lý kho</td>
                                    <td><a href="#">Xóa</a> <a href="#">Sửa</a></td>
                                </tr>
                            }
                        }
                        @if (WM is not null)
                        {
                            @foreach (var item in Shippers)
                            {
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.FullName</td>
                        <td>@item.Gender</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>Người giao hàng</td>
                        <td>
                            <a asp-action="ViewInfor" asp-controller="Account" asp-area="Admin" asp-route-id="@item.Id">Xem</a>
                            <a asp-action="DeleteUser" asp-controller="Account" asp-area="Admin" asp-route-id="@item.Id">Xóa</a>
                        </td>
                    </tr>
                            }
                        }


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>