@model FinalProject.Areas.Admin.ViewModels.LoginViewModel
@using Common
@{
    ViewData["Title"] = "Đăng nhập";
    Layout = null;
    var urlBack = "";
    var query = Html.ViewContext.HttpContext.Request.Query;

    if (query.Keys.Contains("ReturnUrl"))
    {
        urlBack = query.First(x => x.Key.Equals("ReturnUrl")).Value;
    }
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"]</title>

    <link href="~/admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/admin/css/sb-admin-2.css" rel="stylesheet">

</head>

<body class="background-body-login">

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block background-login"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Chào mừng bạn!</h1>
                                    </div>
                                    @if (!(ViewBag.Message is null))
                                    {
                                        <div class="alert alert-danger">@ViewBag.Message</div>
                                    }
                                    @if (!(TempData[Constant.KEY_CONFIRM_EMAIL] is null))
                                    {
                                        <div class="alert alert-success">@TempData[Constant.KEY_CONFIRM_EMAIL]</div>
                                    }
                                    @if (!(TempData[Constant.KEY_CONFIRM_EMAIL_SUCCESS] is null))
                                    {
                                        <div class="alert alert-success">@TempData[Constant.KEY_CONFIRM_EMAIL_SUCCESS]</div>
                                    }

                                    <form asp-action="Login" asp-controller="Account" asp-area="Admin" method="post">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="urlBack" value="@urlBack"/>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="text" name="Email" class="form-control form-control-user" placeholder = "Nhập địa chỉ email"/>
                                            <span asp-validation-for="Email" class = "Text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label for="password">Mật khẩu</label>
                                            <input type="password" name="Password" class="form-control form-control-user" placeholder="Nhập địa chỉ email" />
                                            <span asp-validation-for="Password" class="Text-danger"></span>
                                        </div>
                                        @*<div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>*@
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Đăng nhập
                                        </button>
                                        <hr>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" asp-action="ForgotPassword" asp-controller="Account" asp-area="Admin">Quên mật khẩu?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script src="~/admin/vendor/jquery/jquery.min.js"></script>
    <script src="~/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>