@{
    ViewData["Title"] = "Thông tin tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    var User = ViewBag.Infor as Entities.Models.User;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 order-md-1">
            <div class="profiles">
                <p class="image">
                    @if (User.Image != null && User.Image != "admin.png")
                    {
                        string email = User.Email.Replace('+', 'a');

                        <img src="~/images/user/@email/@User.Image" height="250" width="250" alt="Avatar">
                    }
                    else
                    {
                        <img src="~/images/user/admin.png" height="250" width="250" alt="Avatar">
                    }
                </p>

                <p class="name">Tài khoản của</p>
                <h6>@User.FullName</h6>
            </div>

        </div>
        <div class="col-md-9 order-md-2">
            <h4 class="mb-3">Thông tin cá nhân</h4>
            <input type="hidden" name="UserId" value="@User.Id" />
            <input type="hidden" name="ImageLink" value="@User.Image" />
            <div class="form-group">
                <div class="mb-3">
                    <label for="Fullname">Họ tên</label>
                    <input type="text" class="form-control" readonly value="@User.FullName" name="FullName">

                </div>
            </div>

            <div class="form-group">
                <div class="gender">
                    <label for="gender">Giới tính</label>
                </div>
                @if (User.Gender == "Nam")
                {
                    <label class="radio-inline"><input type="radio" readonly name="Gender" value="Nam" checked>Nam</label>
                    <label class="radio-inline"><input type="radio" readonly name="Gender" value="Nữ" style="margin-left:30px;">Nữ</label>
                }
                else
                {
                    <label class="radio-inline"><input type="radio" readonly name="Gender" value="Nam">Nam</label>
                    <label class="radio-inline"><input type="radio" readonly name="Gender" value="Nữ" checked style="margin-left:30px;">Nữ</label>
                }

            </div>

            <div class="form-group">
                <label for="dateofbirth">Ngày sinh</label>
                <input readonly type="date" class="form-control form-control-user" name="DateOfBirth" value="@User.DateOfBirth.ToString("yyyy-MM-dd")" />

            </div>

            <div class="form-group">
                <div class="mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="Email" placeholder="you@example.com" value="@User.Email" readonly>

                </div>
            </div>

            <div class="form-group">
                <div class="mb-3">
                    <label for="phone-number">Số điện thoại</label>
                    <input type="text" class="form-control" id="phone-number" name="PhoneNumber" value="@User.PhoneNumber" readonly>

                </div>
            </div>

            <div class="form-group">

                <div class="col-sm-12 row">
                    <label for="address">Địa chỉ: </label>

                    <span>
                        @User.StreetName - @User.Ward.WardName - @User.Ward.District.DistrictName -
                        @User.Ward.District.Province.ProvinceName
                    </span>
                </div>
            </div>

            <hr class="mb-4">
            <div id="show-button">
                @if (User.LockoutEnd is null)
                {
                    <button class="btn btn-primary" onclick="confirmLockOrUnlockAccount('@User.Id', true)">Khóa tài khoản</button>
                }
                else
                {
                    <button class="btn btn-success" onclick="confirmLockOrUnlockAccount('@User.Id', false)">Mở khóa tài khoản</button>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/notify/notify-helper.js"></script>
    <script type="text/javascript" src="~/admin/js/account/information-employee.js"></script>
}